[2015-12-29 15:40] krt16s opened #1 "Keep tags and versionname/versioncode synced"
It would be a good thing, if you could keep the version in the tag (currently v0.1) and the actual android version in app/build.gradle (version 1.0, versioncode 1) synced. Also, just in case: Keep the versioncode updated at all time, since thats the integer that is crucial to updating. See https://developer.android.com/tools/publishing/versioning.html

[2015-12-29 17:31] martykan commented on #1
Oh, I forgot about that. I just made a new release and fixed it.

[2015-12-29 17:31] #1 closed

[2015-12-30 19:32] vmbspqmb opened #3 "[suggestions] More units and localization"
Great start, the offline functionality is most useful! Here are some humble suggestions after using your app.

Wind: Kilometers per hour (kph), Miles per hour (mph)
Pressure: in Hg, mm Hg

Month first date format (12/30/2015)

Show day of the week

Show moon instead of sun for nighttime forecasts

[2015-12-31 14:01] martykan commented on #3
I'm working on it, it will come in v0.4 soon.

[2016-01-01 16:39] Teyro commented on #3
Great News ;) I will add german translation if needed ;) Are there any plans for a widget?

[2016-01-01 16:50] martykan commented on #3
I haven't thought about a widget yet, but it's a good idea.

[2016-01-02 12:24] Teyro commented on #3
Just think about that ;) Because your app is the first real foss app what uses free services and is free... so i would help whereever i can ;) Is there a Language text file with Strings for translation?

[2016-01-02 12:40] martykan commented on #3
I already have a German translation in v0.3, but it's not on F-Droid yet. You can get the apk from [here](https://github.com/martykan/forecastie/releases/download/v0.3/Forecastie-0.3.apk) (you might need to uninstall the app, then install the apk).

[2016-01-02 13:40] martykan opened #6 "Translations needed"
We have some new strings for v0.4 and we need to translate them. These are a bit more complicated, so Google Translate won't be enough. We need them in ~~Spanish, Basque (@beriain could help), Japanese (@naofum)~~, French, Italian, Dutch, Russian. It's better to have them before release, than after release, where everything changes anyway.

[code]
I know we won't get it in all languages, but let's

[2016-01-02 13:43] martykan commented on #3
Finished, now just wait for v0.4 :smiley:

[2016-01-02 13:43] #3 closed

[2016-01-02 18:03] ildar opened #9 "[FR] widget planned?"
.

[2016-01-02 18:08] martykan commented on #9
Yes, I am working on it, but it's not yet going to be in 0.4.

[2016-01-04 05:16] RwyAPx7XFnS8J7rCdVaY opened #10 "Dashclock extension"
Hi. It would be nice if this app added a simple extension to DashClock Widget, showing for example the forecast for today (other settings could be added later).

[2016-01-04 05:28] RwyAPx7XFnS8J7rCdVaY opened #11 "Separate days with tabs"
It would nice if the days were separated with tabs like F-Droid, I think the way it is now is a bit confusing. I made some examples :-)

![today](https://cloud.githubusercontent.com/assets/16533301/12083943/16c86f82-b2a4-11e5-85ab-ca14191d9a81.png)

![next days](https://cloud.githubusercontent.com/assets/16533301/12083940/097f62a4-b2a4-11e5-844b-3eba41d768d5.png)

[2016-01-04 05:49] martykan commented on #10
Yeah, that would be nice. I'll work on it.

[2016-01-04 05:55] martykan commented on #11
This was my original plan, but it is technically much more complicated. I'll try to make that work

[2016-01-05 11:44] ildar opened #14 "Error parsing JSON"
0.4 in F-Droid declines to work.

[2016-01-05 11:52] martykan commented on #14
Try searching for the city again.

[2016-01-05 12:00] ildar commented on #14
Ahh!
that was the misbehaving network, so the app couldn't fetch info.
Hence the error message is user-unfriendly.

[2016-01-05 12:01] martykan commented on #14
Yeah, I will add more descriptive error messages

[2016-01-05 12:25] logos88 commented on #9
Yeah, a widget would be great! I leave a few examples of widgets I think are great if they help as some kind of inspiration

YoWindow:
https://lh4.ggpht.com/SanhGmbQF8sMzFE1FyRCraLdOd_hiNZ0RQvGdT-9us7q7DnwXs87VyheElwA7ZmeogQ=h900

Eltiempo.es
https://www.google.com/imgres?imgurl=http://www.elandroidelibre.com/wp-content/uploads/2013/11/eltiempo.es-widget.png&imgrefurl=http://www.elandroidelibre.co

[2016-01-05 12:29] logos88 commented on #11
Another option could be something like yahoo weather:

https://lh5.ggpht.com/400xfC_duCRyCU5C1lHQn_j7VzC6BYBu7org7SAhsJz_mAmSsrXt0xd8d-YuXTgTnH_d=h900

And if you press one day of the week it opens the forecast for that day

[2016-01-05 12:33] logos88 opened #15 "Add mm for rain forecast"
I think that the data about mm would be very interesting. I have lived in cities where despite it said it was going to rain, you knew that if it wasn´t something higher than 0.5 mm it was very improbable.

[2016-01-05 12:59] martykan commented on #9
Right now I only have a widget with current weather, but I'll make one with future forecast later on.

<img src="http://i.imgur.com/4MR23ca.png" width="250">

[2016-01-05 23:28] noisnogit opened #16 "A Changelog would be nice :)"
Could you make a simple Changelog just to keep us updated about the changes from a release to another?

Thanks

[2016-01-06 09:44] martykan commented on #16
https://github.com/martykan/forecastie/releases

[2016-01-06 14:15] ArchangeGabriel commented on #6
Do you still need those? If so, french ones:

[code]

[2016-01-06 14:38] martykan commented on #6
Yep, still need those.

[2016-01-06 18:17] martykan commented on #10
Done.

[2016-01-06 18:17] #10 closed

[2016-01-06 18:18] #16 closed

[2016-01-06 20:02] noisnogit commented on #16
Thank you :)

[2016-01-06 20:40] kufizhgw opened #18 "[feature request] auto update/refresh"
Update forecast in the background at defined intervals.

Good for when we forget to refresh before going offline.

[2016-01-07 16:06] martykan commented on #14
Done. Now it should display only if there really is a JSON error.

[2016-01-07 16:06] #14 closed

[2016-01-07 16:59] martykan commented on #15
Done. I also think it's pretty interesting, it gives you a lot more information about the rain.

[2016-01-07 16:59] #15 closed

[2016-01-07 18:38] martykan commented on #18
Done.

[2016-01-07 18:38] #18 closed

[2016-01-08 18:48] martykan commented on #11
Done.

[<img src="http://i.imgur.com/cp3QxUe.png" width="250">](http://i.imgur.com/cp3QxUe.png)

[2016-01-08 18:48] #11 closed

[2016-01-09 03:05] Zagur commented on #6
Hi,

I love this app! Catalan translation!

<string name="setting_imperialDate">Utilitzeu el format de data imperial</string>
<string name="setting_imperialDate_description">12/31/2001 en lloc de 31.12.2001</string>
<string name="setting_showDay">Mostra el dia de la setmana</string>
<string name="setting_speedUnits">Unitats de velocitat</string>
<string name="setting_tempUnits">Unitats de temperat

[2016-01-09 23:09] cwmke opened #19 "Provide weather notifications in status bar"
A notification would be very useful.  Something similar to [Weather Notification](https://bitbucket.org/gelin/weather-notification) would be great in terms of appearance and functionality.  I particularily like the mini-forcast in the drawer.  Thanks for any consideration.

![screenshot_20160109-144556](https://cloud.githubusercontent.com/assets/1923967/12218901/5fe84360-b6f3-11e5-8edf-a4c5c3bf7e3

[2016-01-09 23:10] cwmke opened #20 "Dark Theme"
Offer a dark and/or black theme.

[2016-01-09 23:14] cwmke opened #21 "Custom Refresh Intervals"
It would be great to be able to select a background refresh interval.  For example, 15min, 30min, 1h, 4hr, 12hr, 24hr.  Thanks for the great app!

[2016-01-10 12:31] martykan commented on #20
Done.

<img src="http://i.imgur.com/2JK4qzf.png" width="350">

[2016-01-10 12:31] #20 closed

[2016-01-10 12:48] martykan commented on #21
Done.

[2016-01-10 12:48] #21 closed

[2016-01-10 14:14] rerobins opened #22 "[FR] Differentiate days on later tab"
Separate the days with a separate material cards, or slightly shade the days backgrounds different shades. The days get progressively darker, or alternate between two shades.

[2016-01-12 10:21] RwyAPx7XFnS8J7rCdVaY commented on #19
+1 I was going to suggest this too. I have a cellphone that doesn't support DashClock and a notification would be a nice alternative

[2016-01-12 10:30] RwyAPx7XFnS8J7rCdVaY commented on #9
Thanks for the work you've been doing. The widget looks good on your device, but on mine is a bit unaligned I don't know if it's because is a tablet.

![1](https://cloud.githubusercontent.com/assets/16533301/12261198/81eb3186-b917-11e5-84a8-c0f5fbe62cb6.png)

![2](https://cloud.githubusercontent.com/assets/16533301/12261206/8619fb84-b917-11e5-9afa-e3b0128bd402.png)

[2016-01-12 10:42] ghost opened #25 "Other icons for DashClock extension"

[2016-01-12 14:16] martykan commented on #25
Dashclock's icon implementation is pretty bad. The current icon set is packaged as a font, so it's better compressed and more easy to use, so it's not possible to use it with Dashclock. But I'll add in Climacons too, at least for Dashclock.

[2016-01-15 15:07] #22 closed

[2016-01-19 20:05] dbolton commented on #16
Is it possible to link to the changelog in F-droid? (So that it shows up as one of the links in the F-droid app when you choosing to update).

https://f-droid.org/repository/browse/?fdfilter=forecastie&fdid=cz.martykan.forecastie

[2016-01-19 20:13] dbolton opened #32 "Inches for snow"
The app shows "Snow (1.6 mm)". I wish it would show "Snow (0.1 in)" [inches]

I see options to change every unit (temperature, barometer, wind speed), except the unit for the amount of snow.

(By the way, I love the app!)

[2016-01-19 20:16] dbolton opened #33 "Compact view"
This is a feature request for a compact view so that you can see a full day (or more) at a time on the screen.

If this is not the direction you want to take the app, feel free to close.

[2016-01-19 20:25] dbolton commented on #9
On my screen (probably narrower than yours), the widget at the default size shows the weather icon only (no temperature or refresh button). If I vertically expand the widget to three rows it shows the full information (except the weather icon overlaps with the end of the city name).

[2016-01-19 20:28] martykan commented on #32
Sure. Maybe still use milimeters for values under 0.1 inches (2.5 mm)

[2016-01-19 20:31] martykan commented on #9
Yeah, I will rework the layout so it's more flexible.

[2016-01-19 20:33] martykan commented on #33
I like it, I'll work on it.

[2016-01-20 14:28] felix-schiller commented on #33
As an Idea for a more compact view: The OpenWeatherMap Homepage has a diagram for the next 24 Hours. Line for temperatures, bars for precipitation and a small Icon for the condition at the bottom. Something like this would be great for a quick, compact overview.

[2016-01-20 15:54] RwyAPx7XFnS8J7rCdVaY commented on #32
An option on settings would be a better solution because not everybody use/understand inches (me for example) :-)

[2016-01-20 16:08] martykan commented on #32
I meant if you have inches selected in settings, it would still use milimeters for small values anyway.

[2016-01-21 11:24] ildar commented on #9
thanks for the widget, I'll open more issues on it ;)
Meanwhile, please close this issue as soon as you desire.

[2016-01-21 11:29] ildar opened #34 "[FR] widget showing a few days"
I'd like to overview a few days on a widget if it's big enough.
Also, indeed the layout needs a work on it. And clicking on a widget usually makes the app to show up.
Thanks!

[2016-01-22 16:10] Primokorn opened #35 "[Bug] Error parsing JSON"
Hi

I'm running a custom CM13 based rom (Temasek) and I have the attached error at launch.

[logcat_and_device_info.zip](https://github.com/martykan/forecastie/files/101064/logcat_and_device_info.zip)

Thank you.

[2016-01-22 16:12] martykan commented on #35
The problem is because of the API key. I don't know what exactly happened, but I fixed it a few minutes ago in v0.8. It will take a few hours until it gets fixed on F-Droid

[2016-01-23 19:09] dbolton commented on #32
I would be more inclined to stay with inches and just say "less than 0.1 inches" or "< 0.1 in".

[2016-01-24 15:36] andreasspeck commented on #35
0.8 is not yet in F-Droid.

The limitations that come with the free API key are pretty low (60 calls per minute, or 50,000 calls per day). I think as Forecastie is clearly the best app out there that makes use of OpenWeatherMap, it might already be too popular for that limit.
It would be best for the app to have a default API key but make it configurable, and advise people on how to create their o

[2016-01-25 05:08] fazyloff commented on #6
Hi,
Russian traslation:

<string name="setting_imperialDate">Использовать формат даты ММ/ДД/ГГГГ</string>
<string name="setting_imperialDate_description">12/31/2001 вместо 31.12.2001</string>
<string name="setting_showDay">Отображать день недели</string>
<string name="setting_speedUnits">Единицы скорости</string>
<string name="setting_tempUnits">Единицы температуры</string>
<string name="setting_p

[2016-01-25 16:44] johannesgunnar commented on #35
Just commenting here to note that I am running into the same problem on CM 12.1-20151117, with Forecastie 0.7 gotten from F-Droid. (no sign of 0.8 so far on f-droid)

[2016-01-26 10:09] Primokorn commented on #35
Thanks martykan. Update requested to F-Droid team.

[2016-01-26 10:17] martykan commented on #35
F-Droid already built the new version, we just need to wait for the repo update.
https://f-droid.org/wiki/page/cz.martykan.forecastie/lastbuild_8

[2016-01-26 12:25] Primokorn commented on #35
Update available :)

[2016-01-26 12:46] #35 closed

[2016-01-28 10:26] kowalcj0 opened #41 "Error parsing JSON"
Recently updated Forecastie to v0.7.
Ever since I'm getting "Error parsing JSON".
I'm running CM13.1 (Android 6.0.1) on Oppo Find 7.

[code]

[2016-01-28 10:28] martykan commented on #41
Update it to 0.8

[2016-01-28 11:15] #9 closed

[2016-01-28 11:16] #6 closed

[2016-01-31 17:54] icasdri opened #49 "Dependency on Google Play Services for Location"
A dependency on the proprietary Google Play Services seems to have been introduced by 32ef7458 in #40 for resolving coarse location. I wonder if it is possible to resolve location without these services, as introducing such a dependency has a couple important consequences, especially considering Forecastie is aiming to be a FOSS app:

1. Users of fully-free (or otherwise Google-free) roms would be

[2016-01-31 18:26] martykan commented on #49
I would abolish Google Play Services totally and use the native location services. I will work on it.

[2016-02-01 23:51] logos88 commented on #34
I would like to see that too. A few days forecast (the current day and the nex two would be nice for instance) and the possibility of opening the app touching it. It would be very useful.

[2016-02-02 20:53] martykan commented on #49
Fixed now, full freedom regained.

[2016-02-02 20:53] #49 closed

[2016-02-02 20:53] #41 closed

[2016-02-04 10:06] ThibaultMndr opened #50 "Add wind direction + French speed unit translation"
Hi,

I think it may be useful to add the wind direction near the wind speed ; and instead of "kph" in French you should display "km/h"

Thanks for your great app !

Thibault

[2016-02-04 11:32] dasmaetthes opened #51 "Widget improvements"
Hey,
The app is very nice, yesterday I tried also the widget. For me I can use it only as 4x3 widget to see the full informations and then I have a lot of empty space inside the widget. Is it possible to improve the font size and line gap for use as 4x2 or make the text scrollable?

http://tinyurl.com/jr4wynj

Edit: replaced link

[2016-02-04 15:22] lucamp opened #52 "sunrise and sunset"
Hi,
could you please consider to add sunrise and sunset time to the main screen?

Thanks for your app
Luca

[2016-02-04 19:18] MarcRdC commented on #52
I agree: it would be a nice addition to the application.

[2016-02-05 12:38] logos88 commented on #50
In Spanish and Catalonian it would be ¨km/h¨ too!

[2016-02-10 18:00] TheLastProject opened #57 "Weather information may overwrite weather icon"
Light intensity shower rain seems to be too long for my device. Motorola Moto E 2015 LTE, CyanogenMod 12.1 (Android 5.1.1), Forecastie 0.9 from F-Droid:
![tmp_15676-screenshot_2016-02-10-18-57-38-73622860](https://cloud.githubusercontent.com/assets/1885159/12956477/8bb7515e-d028-11e5-82ea-0a7c23744dd0.png)

[2016-02-14 09:09] pleasekeepitsimplestupid opened #59 "-0,0°C"
it would be better if it only says 0°C

[2016-02-16 19:06] dasmaetthes opened #60 "Widget not tap-able"
But when I tab on the widget nothing happen, nice would be when it open's the app.
Maybe it just doesn't work on my device ( Motorola Razr I x86, CM 11, Android 4.4.4)

[2016-02-17 01:56] karike opened #61 "Crash on first refresh"
The application crashes if you try to refresh for the first time without network connectivity.

Refreshes after the first run do display the 'No network connection' snackbar successfully if there's no network.

Running CM13 on OnePlus One with the F-Droid 0.9.1 version.

[2016-02-17 11:09] martykan commented on #59
Fixed

[2016-02-17 11:09] #59 closed

[2016-02-17 11:25] martykan commented on #57
It should be fixed now.

[2016-02-17 11:25] #57 closed

[2016-02-17 12:40] benedetto opened #62 "Feature request: indicate last update in widget"
Since I don't have a data plan on my mobile phone it is normally not online unless I'm somewhere with WIFI access (home, work, friends). That means that I cannot tell for sure when was the last time that forecastie had the opportunity to update its weather information. If I want to go sure that it's updated, I hit the small update button (round arrow) on the widget. However, the only indication th

[2016-02-22 02:41] locutis-of-borg-1999 opened #66 "Include a Changelog Link, within the F-Droid App', on Info' Page; 0.9.1."
Include a Changelog Link, within the F-Droid App', on Info' Page.  Not present, as of: 0.9.1.

[2016-02-24 14:39] martykan commented on #66
Done.
https://gitlab.com/fdroid/fdroiddata/merge_requests/1237

[2016-02-24 14:39] #66 closed

[2016-02-24 14:40] locutis-of-borg-1999 commented on #66
B-) 8-)  Cool.

Thanks.

[2016-03-08 06:32] sbruder opened #68 "Feature Request: Smaller 2x1 widget"
Hi,
This is the best weather app for Android I found, but the widget is too big for me. I would like a 2x1 (or 4x1) widget like the weather panel in CMs cLock.
Thanks

[2016-03-19 21:20] #50 closed

[2016-03-28 18:38] martykan commented on #61
Fixed.

[2016-03-28 18:38] #61 closed

[2016-04-02 14:39] anarcat commented on #60
I do not think this is specific to your device, I get the same on CM 12.1 and HTC One S.

[2016-04-02 14:40] anarcat commented on #51
@dasmaetthes that link is dead: "File not found. The specified document has not been found on the server."

[2016-04-06 17:22] ACOdell opened #74 "Widget has partial functionality"
I'm running on a Moto E (Cyanogenmod 13.0, Android 6.0.1 equivalent), and I only get the icon that shows the weather condition outside (cloudy, stormy, clear, etc.) but no other data. It's not an issue of the app getting the data, because when I open the app proper all the info is right there, I just don't know why the widget isn't

Screenshot [here](http://imgur.com/r6M7AKT).

[2016-04-07 14:50] DatGizmo opened #75 "Detect Location does not work"
Versions:
- Android: CM 12.1-20160329-Nigtly for Xperia Z3 Compact
- Kernel: 3.4.0
- Forcastie: 0.9.1 insalled via f-droid

I have the Privacy Guard activated.
The app doesn't ask for permission to use the Location.
Even after allow access to the location, the app doesn't apper in the lis of apps, which used the location.
Side note, instead of gapps I'm using microG apps. https://microg.org
But I

[2016-04-07 16:40] anlar commented on #74
Currently it's not working as 4x1 widget. To see whole widget resize it to 4x3.

[2016-04-07 16:43] ACOdell commented on #74
Yuuup, that works. Thanks for the help!

[2016-04-07 16:43] #74 closed

[2016-04-09 07:55] AxelTheGerman opened #76 "Support multiple locations"
I love the simplicity of the app! However, for many users it might be useful to easily access/see the weather for multiple locations (e.g. when traveling, living in multiple places etc)

two ideas for UI design
- list of recently viewed cities in search dialog
- slide in side menu OR separate screen with list of saved locations

open to suggestions and willing to work on this feature

**Screenshot

[2016-04-16 15:43] vmazoyer commented on #52
I just noticed that, when expanded to 4x3 size, the widget displays the same information as the main screen.
In my pull request #77, I added the sunrise and sunset times to the main screen only.
Should the sunrise and sunset times also be visible on the widget?

[2016-04-19 07:03] lucamp commented on #52
My forecastie widget has only 4x1 size, installed 0.9.1 from f-droid.
Nevertheless on a 4x3 size there is more space so I am pretty sure I and someone else like it

[2016-04-19 07:07] lucamp commented on #52
sorry, I clicked the wrong button

I have only 4x1 wigdet, got forecastie 0.9.1 from fdroid.
Nevertheless in a 4x3 size there is more space so, in my opinion, sunsrise and sunset time could fit in it

[2016-04-20 13:55] Primokorn opened #78 "F-Droid update"
Hi,
Please update the [source code](https://github.com/martykan/forecastie/tags/) to 1.0 to let F-Droid team build the latest version.
Thanks again for this great app.

[2016-04-20 14:31] martykan commented on #78
Done.

[2016-04-20 14:31] #78 closed

[2016-04-22 13:58] anarcat commented on #60
@dasmaetthes why did you close this - is the issue resolved?

[2016-04-22 14:03] martykan commented on #60
It's not resolved, I will open it again.

[2016-04-22 14:04] dasmaetthes commented on #60
It's solved since version 1.0 for me

[2016-04-22 14:16] martykan commented on #60
Oh, I see it's working now. I will close it then.

[2016-04-22 14:16] #60 closed

[2016-04-22 16:48] ghost opened #79 "Feature Request: % Chance of Rain"
It would be helpful to see a % chance of rain on the forecasts. An extremely low possibility of rain on other apps/services will still just show 'rain' on Forecastie

[2016-04-24 02:09] brarcher opened #80 "Crash when updating and rotating screen"
I've observed that if the phone is rotated (causing the layout to change) while the weather information is updating there is a chance that the application will crash. The following is the stack trace from the crash:
[code]

This was observed on a Nexus 5 running Android 5.1.1

[2016-04-24 18:52] githwithit commented on #75
I have the same issue and can not use the app.

I'm on a Nexus 7 2013 running CM13 and Forcastie 1.0 from Fdroid.

I allow location and it still doesn't find me.

Could a manual location entry be allowed?

Like city/country or even GPS coordinates?

[2016-04-24 20:43] martykan commented on #75
The app does ask for permission on marshmallow, not sure how it works with privacy guard.

@githwithit Does it actually have GPS? Manual entry is obviously allowed - it's the search function.

[2016-04-26 19:13] vmazoyer commented on #32
What about rain?
If the user selects inches for snow, it is not coherent to keep mm for rain.
On the other hand, 2.5 mm of rain is already "moderate", so by indicating "< 0.1 in" we lose a lot of resolution.
Another option would be to offer two digits for inches: 0.01 inches.

I have a preference for the last option: use the same unit for rain and snow & use a precision of two digits for inches.
W

[2016-04-29 15:45] DatGizmo commented on #75
Found out, that the app actually does ask for GPS permission. But only if GPS is enabled.
If the position mode is only set to GSM position the app does not ask for the permission.

So the app only works with GPS but not with GSM positions.
Don't know if this is intended.

[2016-05-04 05:26] Susurrus opened #85 "act as a weather provider for Android 6"
Android 6 supports weather provider plugins. Right now there aren't any on F-droid and it looks like Yahoo has been removed from CM. It'd be great if this functionality could be provided by forecastie.

[2016-05-12 10:35] mase76 commented on #75
Is it a good idea always to use GPS for location? I think the system's location service is exact enough and faster.

[2016-05-12 10:37] mase76 opened #87 "Always current location"
Hi!
Please add an option to get the current location with every refresh. And please add more refresh rates (2 and 6 hours for example).

[2016-05-14 12:29] SpiritCroc commented on #62
Sorry for the multiple commits that reference this issues and I deleted later; will create a pull-request when I'm finally happy with it

[2016-05-14 18:31] #62 closed

[2016-05-17 19:53] FridoDeluxe commented on #51
I can confirm the behavior descrived by @dasmaetthes, with a 4x2 widget I can see only the upper part of the air pressure line. Increasing the size to 4x3 leaves too much empty space at the bottom of the widget.
(The device is a FullHD screen with 480 dpi LCD density using the default 4x4 homescreen grid of CyanogenMod 13)

[2016-06-01 13:33] Nutomic opened #94 "Widget with Time/Date"
It would be cool to have a widget that includes date and time.

For example, something like the following from [Beautiful Widgets](https://play.google.com/store/apps/details?id=com.levelup.beautifulwidgets):
![i7heypi](https://cloud.githubusercontent.com/assets/1044450/15711347/e34f85e8-280d-11e6-88d2-1dd8ac467941.jpg)

[2016-06-03 11:14] Nutomic commented on #87
Agreed, current location should be the default (instead of always using London as default).

[2016-06-03 19:19] #94 closed

[2016-06-18 09:40] mabkenar opened #98 "Use integer values for temperatures"
I don't think people really care about sub-integer temperatures. I mean, 17°C and 17.4°C is essentially the same temperature to me. Moreover, reporting temperature of a 3 hour period with 0.1°C accuracy is not really meaningful since the temperature will surely fluctuate during this time and through the region.

Rounding all temperatures to integer values instead removes some clutter from the app,

[2016-06-23 15:48] chrissssss opened #100 "Parsing JSON fails after fresh install (NPE on MainActivity line 501)"
When you're looking in line 459 (just one example, further examples are also available in the result) there is:
`"wind":null,`

JSON
`
{
   "city":{
      "id":2643743,
      "name":"London",
      "coord":{
         "lon":-0.12574,
         "lat":51.50853
      },
      "country":"GB",
      "population":0,
      "sys":{
         "population":0
      }
   },
   "cod":"200",
   "message":0.005,

[2016-06-24 12:32] martykan commented on #100
Some other fixes were needed, but it's working again.

[2016-06-24 12:32] #100 closed

[2016-06-24 12:38] brarcher opened #102 "Crash at start parsing json"
This morning the Forcastie app v1.0 from F-Droid was unable to run, perhaps due to unexpected data arriving from OpenWeatherMap.

Here is the exception which brought down the app:
[code]

[2016-06-24 12:39] martykan commented on #98
I added an option to the settings.

[2016-06-24 12:42] martykan commented on #80
Fixed.

[2016-06-24 12:42] #80 closed

[2016-06-24 12:42] martykan commented on #102
Yep, it's due to wind sometimes being null now. Fix is already coming with 1.1 today.

[2016-06-24 12:42] #102 closed

[2016-06-24 12:46] martykan commented on #79
Sorry, but OpenWeatherMap doesn't provide this data with their API. I will keep this issue open if they add the support.

[2016-06-24 12:46] martykan commented on #52
It should be done now.

[2016-06-24 12:46] #52 closed

[2016-06-24 12:47] martykan commented on #32
Done.

[2016-06-24 12:47] #32 closed

[2016-06-24 13:26] mabkenar commented on #98
Thank you! I'll wait for F-Droid to sync the new version and I'll try it.

[2016-06-26 23:40] brarcher commented on #80
Trying out v1.1 available on F-Droid this issue is still reproducible. Here is the stack trace:
[code]

[2016-06-27 08:57] ildar opened #103 "[FR] add (optional) clock on widget"
4x2 has indeed a lot of wasted space. I know it's no easy task to optimize it. You could look at https://play.google.com/store/apps/details?id=ru.yandex.weatherplugin to learn some bits.
Anyway, I'd like to see (optional) clock on the widget or alternative widget with the clock. If you please...

[2016-07-04 07:54] zoff99 opened #105 "always show same amount after comma in temperature"
when the temp is : 27,9 it looks ok
but when temp is: 28 then the formatting does NOT show the "zero" after comma

this looks bad in the list.

please make all temp values format like this: 28,0

[2016-07-04 07:56] zoff99 opened #106 ""different colors per day" sometimes does not work correctly"
sometimes the next background color does not start at the new day (usually 02:00)
but starts in the middle of the day (e.g.: 11:00)

sometimes it's correct, sometimes it is not.

[2016-07-06 02:33] jsoftwareengineering opened #109 "GPS continues polling after location found and app closed."
At least, it does on Nexus 5X. Does not appear to stop until I kill the app.

Edit: To be more specific, this only happens when I ask the app to Detect My Location

[2016-07-21 11:54] zoff99 commented on #106
![unbenannt](https://cloud.githubusercontent.com/assets/6833516/17021792/8c334e8e-4f4a-11e6-90b2-4499390a8ab6.PNG)

[2016-08-02 07:36] kompowiec opened #112 "forecastie crashed on start"
Hi. When in phone don't have internet not at all, it run application cause crash.

If app download in data early on 3 days it nice to have if these daty later offline

[2016-08-04 17:40] zoff99 commented on #106
1 month old. any news on this bug?

[2016-08-04 18:22] martykan commented on #106
Unable to reproduce. Does it happen every time?

[2016-08-04 18:28] martykan commented on #112
Works for me. Does it happen often?

[2016-08-04 19:01] martykan commented on #109
Should be fixed now.

[2016-08-04 19:02] #109 closed

[2016-08-04 19:05] martykan commented on #103
There is a clock widget now.

[2016-08-04 19:05] #103 closed

[2016-08-04 19:12] martykan commented on #105
I will add an option to the settings for this.

[2016-08-04 19:12] #105 closed

[2016-08-04 19:39] zoff99 commented on #106
no only at some days. not sure what the logic is, but it happens many times

[2016-08-05 11:54] ildar commented on #103
Yes! I see it! Thanks a lot!

[2016-08-05 16:35] kompowiec commented on #112
Somethimes. Now i see that is it strange - when first installed application (fdroid) it crash was always and just format phone helped. Afther nothing and serveral times when added issue (when i was on bumfuck). Now i can't replace without reason (because now write that don't have internet and I didn't update).

I think that so issue closed.

[2016-08-05 20:30] artem-p commented on #98
I did not find this option in the settings.

[2016-08-05 20:33] martykan commented on #98
Yeah, you are right. I will fix it.

Dne pá 5. 8. 2016 22:30 uživatel artem-p <notifications@github.com> napsal:

[2016-08-06 07:50] zoff99 commented on #98
hold on, please don't remove the sub-integer values

[2016-08-06 07:52] martykan commented on #98
I just want to add an option to the settings.

Dne so 6. 8. 2016 9:50 uživatel Zoff <notifications@github.com> napsal:

[2016-08-08 05:18] ildar commented on #51
![screenshot_2016-07-10-11-12-16](https://cloud.githubusercontent.com/assets/517752/17469924/af5aedf0-5d59-11e6-8193-b7b8c2f1281a.png)
indeed needs laboring.

[2016-08-08 07:33] ildar commented on #103
Still not very usable:
https://github.com/martykan/forecastie/issues/51#issuecomment-238143980

пт, 5 авг. 2016 г. в 17:54, Ildar Mulyukov <ildar.mulyukov@gmail.com>:

--
Ildar Mulyukov,
child of God

email: ildar.mulyukov@gmail.com
GoogleTalk: ildar.mulyukov@gmail.com
blog: http://johan-notes.blogspot.com/

[2016-08-08 08:36] #106 closed

[2016-08-10 21:29] juanitobananas commented on #75
Privacy Guard won't ask for the user to grant permission until the moment where the app actually tries to determine a location. If GPS is not enabled, the app cannot try to get a location and therefore Privacy Guard doesn't ask for permission.

It also works for me on Android M :smile:

I've taken a look at the code and I think a solution for this would be to use the LocationManager to check if th

[2016-08-13 20:12] Nutomic commented on #112
I'm getting the same issue with the latest F-Droid version. Can try to get a log soon if that helps.

[2016-08-13 21:05] martykan commented on #112
Any logs help, but git master would be ideal.

[2016-08-14 13:24] Nutomic opened #122 "Crash when adding Widget"
I just got this crash on a fresh install. Steps to reproduce:

1. Install Forecastie
2. Do not start Forecastie
3. Add widget to homescreen

[code]

[2016-08-14 13:29] Nutomic opened #123 "More frequent Releases"
The last release has been almost two months ago. In that time, there have been lots of fixes and improvements according to git log.

It would be cool if you could do releases more frequently, maybe somewhere between every week and every month.

[2016-08-14 16:12] martykan commented on #123
I am planning on doing a release very soon, maybe even today.

[2016-08-14 19:33] martykan commented on #122
Fix commited in 790c0cd. It will make the app start first, when your crash scenario is about to happen.

[2016-08-14 19:33] #122 closed

[2016-08-14 19:34] martykan commented on #122
Oh, this is the one you were talking about in #112, right?

[2016-08-14 19:35] martykan commented on #112
So I will close this if @kompowiec can't replicate this again.

[2016-08-14 19:43] martykan commented on #98
I found the code on my old PC, I forgot to push it to origin.
So it should be done.

[2016-08-14 19:43] #98 closed

[2016-08-14 21:43] Nutomic commented on #122
No #112 is a seperate issue, which still happens after the first start.

[2016-08-14 21:45] Nutomic opened #124 "Widget stops getting updated"
After some time, the widget stops getting updated. This might be because I walk around and lose internet connection at some point, but I don't know the exact cause. The end result is that the time widget gets stuck on an old time, and starting the app gives the following crash log:

[code]

Edit: This issue might be related to #112.

[2016-08-14 21:47] Nutomic commented on #112
I also tried to reproduce this today, but couldn't do it.

[2016-08-15 08:49] martykan commented on #112
Okay, so I will keep this open. If this happens to anyone again, please try to get a log of the crash.

[2016-08-15 09:38] martykan commented on #124
This is very strange, it's nearly an impossible scenario.
It must happen when todayWeather is not set, but it happens in the updateTodayWeatherUI function, which is only executed after todayWeather is set.

[2016-08-15 10:35] Nutomic commented on #124
My guess is that the weather update didn't work right, because of a connection timeout or something like that. It then stored the invalid data and crashed the background service. When I start the app again, it loads the service, which attempts to read the invalid data.

[2016-08-17 18:33] martykan commented on #124
OK, I think it should be fixed.

[2016-08-17 18:33] #124 closed

[2016-08-17 18:36] martykan opened #125 "Maps are very slow"
I implemented a weather map feature, but the OpenWeatherMap tiles are loading very slowly, it can take up to a minute to load. Does anyone know if this is a limitation of the free service, or are their servers under big load now?

[2016-08-18 11:26] martykan commented on #125
Nevermind, fixed.

<img src="http://i.imgur.com/aTVW8ab.png" width="400">

[2016-08-18 11:26] #125 closed

[2016-08-18 17:25] Paviluf opened #126 "Add met.no / yr.no weather provider"
Hello,

OpenWeather is really often inaccurate, at least here in Bordeaux, France. That lead me to stop using the app and to rely on a website for now. However I noticed that the Norwegian Meteorological Institute is far more accurate and is free to use as you can see in the links below. For instance, it's the weather provider of Gnome Weather that I use and that allow me to confirm that is precis

[2016-08-18 17:35] martykan commented on #126
I will definitely want to implement this in a future release, Yr.no is also pretty accurate in my area.

[2016-08-21 12:48] kompowiec commented on #112
i installed syslog and still wait on appear crash.

[2016-08-21 13:13] martykan commented on #112
OK, great.

[2016-08-22 10:55] zoff99 commented on #33
mockup:
red line high temp of the day
blue line low temp of the day

![fff_2](https://cloud.githubusercontent.com/assets/6833516/17852439/b0b01f9a-6867-11e6-8677-463be557ae1e.png)

[2016-08-23 21:47] juanitobananas commented on #87
Added option to update location automatically in c6093eccc6a0ccc9543f576c19813bc55eabc0c4
(it isn't enabled by default though)

[2016-08-23 22:02] martykan commented on #87
@juanitobananas I think we can consider this issue resolved then.

[2016-08-23 22:02] #87 closed

[2016-08-25 09:53] martykan commented on #123
OK, I finally did the release.

[2016-08-25 09:53] #123 closed

[2016-08-26 16:55] kompowiec commented on #112
I'm very sorry but someone steal my phone with android and must buy new... unlikely to deliver within a reasonable time (if ever succeed).

[2016-08-26 17:57] martykan commented on #112
Oh, that sucks. There's a chance you can find it, thieves are usually not very smart and keep accounts logged on.

[2016-08-29 20:02] logos88 commented on #34
Any plan for this in the future? I have made a screenshot of one app widgets I think its great showing information. Its from eltiempo.es app:

![screenshot_20160828-200555](https://cloud.githubusercontent.com/assets/4170088/18064905/c87c8a6c-6e31-11e6-94b9-efe4267e9c91.png)

The upper image its a 4x2 widget. It has info about the current day in the firs row, with the name and number of the day, th

[2016-08-29 20:18] martykan commented on #34
Eventually yes, the widgets are a bit lacking for sure. I don't have too much free time now though, but I will try to get around to it.

[2016-08-30 16:35] LuccoJ commented on #85
Are you sure this isn't a CM-specific feature? I was under that impression.

[2016-08-30 16:38] LuccoJ opened #133 "Make widget themable"
With the new version of Forecastie coming with a new brighter default theme, but me preferring to switch back to the classic one, I realized that he widget ignores the setting and displays itself in the bright theme.

Additionally, whenever the app itself displays a new activity, the title bar briefly flashes in the default color before changing to the set theme.

[2016-08-31 06:24] ildar commented on #85
I agree. IMHO the issue has nothing to do with Forecastie.

вт, 30 авг. 2016, 22:35 Lorenzo J. Lucchini <notifications@github.com>:

--
Ildar Mulyukov,
child of God

email: ildar.mulyukov@gmail.com
GoogleTalk: ildar.mulyukov@gmail.com
blog: http://johan-notes.blogspot.com/

[2016-08-31 12:09] verdulo opened #134 "Add option to change language"
Please add possibility to change the app-language in options, so it will be possible to use languages which are not selectable in Android.

Please also fix the link to transifex on the main page: https://www.transifex.com/forecastie/forecastie/

[2016-09-01 19:53] ildar commented on #134
If you want a language that's excluded from the list android system has,
you'd probably better get a special app for that. Its name "more languages"
or alike
--
Ildar Mulyukov,
child of God

email: ildar.mulyukov@gmail.com
GoogleTalk: ildar.mulyukov@gmail.com
blog: http://johan-notes.blogspot.com/

[2016-09-02 16:17] LuccoJ commented on #85
Well, nothing would prevent Forecastie from cooperating with the CM weather API to benefit CM user, but that's a "political" decision where it must be remembered that nothing would change for the majority of non-CM users.

[2016-09-02 18:00] ildar commented on #85
Nothing political. I think that Forecastie and a weather provider are two
totally different things from the CODE point of view. And I'd rather avoid
installing a provider that brings a whole app+widgets with it. Do one thing
but do it well!
That's just my IMHO. The author may think totally differently.

[2016-09-06 11:07] ppoppitz commented on #76
I would like to add that such a function would be especially helpful in combination with the offline function when traveling! Because of infrequent opportunities for internet access while backpacking I would have loved it to download forecasts for more than one location.

[2016-09-07 23:46] kn00tcn commented on #123
heh, tell that to lightning browser

[2016-09-07 23:50] kn00tcn commented on #85
i thought yahoo shutdown their weather provider & i'm pretty sure i saw openweathermap in CM changelogs, maybe i'm confusing things

[2016-09-07 23:57] kn00tcn commented on #133
haha, the widget preview is the old theme (for me at least), then it turns bright blue when added

i gotta say, the fresh blue is awful, there are too many bright blue apps already (CM/aosp? phone, CM file manager, fdroid), it's just a harsh blue while the classic one was relaxing, a little hip, & most importantly solid branding that only forecastie used

how do i reproduce the title bar flash? i

[2016-09-08 06:53] Susurrus commented on #85
I agree with the points made that this is out-of-scope for forecastie. Sorry for the noise.

[2016-09-08 06:53] #85 closed

[2016-09-08 18:33] LuccoJ commented on #133
To cause the bright blue flashing, I just start the app, either by using its icon or by clicking on its widget, and the title bar is bright blue for a second, then switches to my set theme.

The widget preview is indeed the old color until you actually put it on your home screen.

[2016-09-09 09:05] kn00tcn commented on #133
oh hmm... now i see the blue flash, which doesnt appear when you enter from recents (or rather, the screen sits on the frozen recents thumbnail until the app is ready)

[2016-09-09 18:11] osoitz opened #135 "Make forecast text translatable"
Even if Forecastie is 100% translated to my language in Transifex, it still show sentences in English like "Scattered clouds", "Clear sky, "Few clouds", "Light rain", "Moderate rain"...

I assume those sentences come from the weather provider, and all possible sentences are known.  It would be great if Forecastie was able to show them translated to the selected language.

[2016-09-10 18:43] artem-p commented on #135
It is already work as you described. Forecastie gets system language and makes request to OWM provider with language code as parameter. Maybe there is a difference in language codes used in android and OWM. What language do you need?

[2016-09-11 00:20] madmuffinz opened #136 "More results for the day?"
I would like to be able to see more results per day rather every other three hours.
Even 12 results would be nicer, but I am hopeful for 24 results even.

[2016-09-11 20:33] osoitz commented on #135
I'm using it in Basque (eu). Maybe OWM doesn't have the Basque strings? If so can you tell me how to help? Ill do it gladly.

[2016-09-12 04:09] brarcher commented on #136
I believe that the data this application uses is from openweathermap.org . It seems to only support a [5 day/3 hour forecast](http://openweathermap.org/api) API and not not support an hourly forecast. A different data source would be necessary to get daily forecasts. There are a number of [other weather API providers](http://www.programmableweb.com/news/top-10-weather-apis/analysis/2014/11/13), bu

[2016-09-13 06:38] madmuffinz commented on #136
Ah I see. Thanks for replying

[2016-09-14 14:30] xtj-9182 opened #137 "Null Pointer Exception in AbstractWidgetProvider"
Hello,
I'm getting an NPE in AbstractWidgetProvider in the latest stable version (v1.2) installed via Google Play store.

![2016_09_14_16 01 16](https://cloud.githubusercontent.com/assets/9414008/18516224/5dfd4e60-7a98-11e6-97cd-3f3634e3010f.png)

[2016-09-17 03:36] robinpaulson opened #138 "Add wind strength and direction graphs"
I love the new graphs feature, it's very useful for visualising weather changes over the next few days. It'd be even greater if it had similar graphs for the wind direction and wind strength over the same period.

Cheers

[2016-09-17 03:45] robinpaulson commented on #138
In fact, I think the graphs are a better way of visualising the data than the abstract set of numbers which make up the default view. It'd be good to have an option which makes them the default view.....

[2016-09-18 01:09] robinpaulson opened #139 "cache weather map tiles for offline use"
I often use forecastie when I'm out of range of data, it'd be great to cache the map tiles so I can still see them when I'm offline, perhaps with a visible. Cheers

[2016-09-26 02:27] sudogitgud commented on #51
I would like to request for the widget to have a transparent or translucent background.

[2016-09-27 03:57] robinpaulson opened #141 "Decrease default zoom for weather maps"
At the moment it's too close in, it's hard to make out any detail.

See [pr No. 140](https://github.com/martykan/forecastie/pull/140)

[2016-09-27 04:43] robinpaulson commented on #141
Cool, cheers for merging!

[2016-09-27 04:43] #141 closed

[2016-09-27 05:57] robinpaulson opened #142 "Clarification request: Odd variable values in Graph Activity"
Are these values the correct way around?
The numbers at [GraphActivity.java#L40](https://github.com/martykan/forecastie/blob/master/app/src/main/java/cz/martykan/forecastie/activities/GraphActivity.java#L40), 41, 43, 44, 46 and 47 look wrong.

E.g.:
    float minTemp = 100000;
    float maxTemp = 0;

Should that be
float minTemp = 0;
float maxTemp = 10000;
?

[2016-09-27 06:18] robinpaulson commented on #138
I have started coding the additional graphs I suggested above, but am stuck on part of it. Whereabouts does Forecastie store the title for the graphs? It is in one of the files in https://github.com/martykan/forecastie/tree/master/app/src/main/res/values ?

[2016-09-27 06:34] robinpaulson opened #143 "Add pressure weather map"
Similar to the rain, wind and temperature maps forecastie already has.

[2016-09-27 14:34] martykan commented on #142
We are trying to find numbers smaller than the previous number for minTemp, and numbers that are higher for maxTemp.

[2016-09-27 14:35] martykan commented on #138
That should be strings.xml. The names are not used just for the graphs, but also for other things.

[2016-09-28 23:59] robinpaulson opened #145 "Host js and css for leaflet locally"
See PR #144

[2016-09-30 05:30] nazar-pc commented on #51
Yeah, 4x2 with transparent background and only key information (no date/time, just weather) would be perfect. Currently widgets are too big.

[2016-10-03 07:29] sunng87 opened #147 "Forecastie as CyanogenMod weather provider"
I knew there is an official OpenWeatherMap provider but it's never released to PlayStore or FDroid. I wish Forecastie could implement their API and be used as a weather provider.

[2016-10-03 17:36] TediouslyBored opened #148 "Cannot Change Background Refresh Interval to 12h or 24h"
App Version: 1.2 and 1.1
App Store: F-Droid and Google Play Store
Android Version: 4.4.2

Attempting to change the background refresh interval to either 12h or 24h results in the app closing with "Unfortunately, Forecastie has stopped."

[2016-10-05 14:59] artem-p commented on #148
There is an array refreshIntervals in arrays.xml. It doesn't have 2 and 6 hours items.

[2016-10-06 06:41] robinpaulson commented on #145
Cheers!

[2016-10-06 06:41] #145 closed

[2016-10-08 23:26] robinpaulson opened #150 "Negative rainfall"
I notice that sometimes the graphs feature displays a negative value for rainfall. Unless something very odd is happening, this is probably unlikely. My guess is there is some smoothing process which attempts to fit a curve to the points supplied by OWM. It is most likely to occur immediately adjacent to a large change in the predicted rainfall, which fits with the smoothing hypothesis.

[2016-10-09 01:07] robinpaulson commented on #143
I can do the coding for this, but can't figure out the api key; could you provide one from your account for the pressure contours layer? I will make a pull request with blanks for the appropriate data. Cheers

[2016-10-09 07:53] #150 closed

[2016-10-09 22:14] Jkillelea opened #152 "Feature requests: wind in knots, pressure in inHg"
Standard aviation weather reporting units in the US, would be nice to have them here too.

[2016-10-10 00:20] tsimonq2 opened #153 "Feature request: Temperature as constant notification option"
I'm coming from WeatherBug, and I'm used to always having the temperature and my location in my notifications menu so I can quickly check it when the screen is locked.

It would be nice to at the very minimum have this as an option.

I'm running Android 6.0.

[2016-10-10 00:23] tsimonq2 opened #154 "Feature request: Zoom buttons in maps"
It would be nice to have Zoom buttons (`+` and `-`)  in the maps (Rain, for example) as it sometimes makes it easier to navigate.

[2016-10-10 00:25] tsimonq2 opened #155 "Feature request: scale or reference for maps"
When using the Rain, Temperature, etc. maps, it would be nice to know what the colors mean or have some sort of guide for this. I don't know what those colors mean and they could be misleading.

[2016-10-10 00:27] tsimonq2 commented on #155
This also applies to the graphs. I have no clue what the units are there.

[2016-10-10 00:29] tsimonq2 opened #156 "Feature Request: Ubuntu Phone App"
This was recently [featured on an article by OMG! Ubuntu! ](http://www.omgubuntu.co.uk/2016/10/7-awesome-open-source-android-apps)so it would be nice if an Ubuntu Phone port could be developed.

[2016-10-10 04:27] robinpaulson commented on #155
I agree with the suggestion, a static or dynamic scale bar would be useful. This can easily be done with leaflet, which the app currently uses to display the tiles.

[2016-10-10 04:28] robinpaulson commented on #154
Another easy one to do with leaflet, I might take a look at this.

[2016-10-10 07:51] robinpaulson commented on #139
For caching the underlying osm map tiles, the best way to go might be to use the tiles already stored offline, say from osmand. It shouldn't be a problem to add an option in the "Settings" screen to select the location for the tiles.

[2016-10-11 09:52] entodoays commented on #68
I was going to suggest this enhancement as well. A 4x1 widget with time on the left and weather on the right, possibly semi-transparent background. Tapping on the time could open clocks and tapping on the weather could open the weather app.

[2016-10-12 15:24] subiol commented on #51
+1 to configurable translucid to transparent widget.

Also, the widget does not follow the theme, it always show in the annoying blue background.

[2016-10-13 12:43] emersion opened #157 "Alerts"
Add support for alerts, which notify you when it's going to rain.

[2016-10-14 01:17] robinpaulson commented on #139
@martykan If I add a feature to reuse map tiles stored in the osmand directory (assuming it is present), would you be interested in accepting it?

[2016-10-16 12:44] Paviluf commented on #126
I saw in [libgweather](https://git.gnome.org/browse/libgweather/tree/libgweather/gweather-weather.h) code, that Gnome Weather use, that there is some other useful providers that can maybe be integrated too:

* METAR office, providing current conditions worldwide
* US weather office, providing 7 days of forecast
* Yahoo Weather Service, worldwide but non commercial only

I compared the weather fore

[2016-10-23 23:16] neomodern opened #158 "Simplified Today weather overview"
Something like this (the highlighted part):
![overview](http://i.imgur.com/Wvv02eM.png)

It can be swiped to view the whole length of the day, though I understand the best accuracy we can get via free APIs is 3 hours rather than hourly.

This could be as a setting to switch on/off in the settings, either replacing part of the current view or adding to it.

Right now there's a lot of data on the UI

[2016-10-27 09:15] qurat08 opened #159 "current location"
hello there. Im so glad to see this app. its good and working. I live in a city in another country, but when I run this app it shows weather of LONDON, I want it to show weather of my city automatically. how is this possible? any help?

[2016-10-27 18:59] cwmke commented on #153
I think this is the same as #19?

[2016-10-28 02:10] icasdri commented on #159
Once you set the city once by either searching using the "search icon" in the toolbar, or by using "Detect Location" in the menu, then that location sticks and will be used for subsequent openings of the app.

[2016-10-28 14:33] qurat08 commented on #159
Thats fine. Thankyou so much

Sent from my iPhone

[2016-10-30 13:54] lesscomplex opened #160 "Version Number in F-Droid but not inside Forecastie"
hello martykan. I'm using Version 1.2 in german.
Please add the version number to the menu "About the App".

[2016-10-31 13:59] artem-p commented on #158
Agree.

[2016-11-08 00:33] robinpaulson opened #161 "Add units "knots" for wind speed"
Very useful for sailing, most sailers understand a given speed in knots will produce certain sea conditions.

Cheers

[2016-11-09 00:55] robinpaulson opened #162 "Weather forecast data does not update in the background"
I have the "Background Refresh Interval" setting set to "15 mins", but it never updates until I open/foreground the app and wait a few seconds for it to download the data. This setting is important to me because I don't have a mobile/3G data plan and only periodically connect to Wifi, it would be very useful to have weather info from the last time I connected, rather than the last time I opened th

[2016-11-12 22:42] zubgjacc commented on #162
This is my use case as well.

[2016-11-16 11:33] trmendes opened #163 "Show UV index levels"
It would be nice if we have the UV Index for the day and for the next few days at this apl.

[2016-11-19 08:42] Primokorn opened #164 "Expose hard coded values"
Hi,
We can't theme values that are located into layout folders.
Please exposed these [color codes](https://osine.cozycloud.cc/public/hastebin/CyyEceBf).
You could move them to values > colors.xml instead.

Thank you.

[2016-11-23 20:19] koug44 commented on #133
I also would like the widget to match the app theme (Dark classic in my case)

[2016-11-25 11:06] wemunim opened #165 "Remove degree symbol from Kelvin temperature"
Kelvin is not referred to nor typeset as a degree.
Please remove the degree symbol from the Kelvin temperature option.

[2016-11-25 11:52] zoff99 opened #166 "leading zero missing on small temp values"
now it displays:
```-.4°C```

it should be:
```-0.4°C```

it's the same on positive small values.

[2016-12-02 21:34] lcavalli opened #167 "Dashclock space"
Hi,
in dashclock extension are reported temperature and weather status on the main line, and below 4 text lines with current place, wind speed, pressure and humidity. The space used is a bit too much and other daskclock extensions are not visible. I would keep only main text and current place as secondary smaller text. Wind speed, pressure and humidity are still easily accessible by clicking on th

[2016-12-03 00:01] robinpaulson commented on #165
Yep, I would agree with at. Kelvin should be displayed as K, no leading symbol. I think Wikipedia explains it.

[2016-12-13 14:55] c64bob commented on #158
Absolutely

[2016-12-16 23:00] collectorgeneral commented on #133
Agreed, widget theme should change according to main theme.

[2016-12-17 16:37] jobbb commented on #158
Agree too

[2016-12-17 16:46] jobbb commented on #34
I'm waiting for the widget too

[2016-12-18 01:52] kn00tcn commented on #133
such a small app, maybe i should have looked at the code for fun, am i the only one that has programming (but not android) experience?

[2016-12-18 02:59] collectorgeneral commented on #133
@kn00tcn
I am not even a programmer 😆
I barely remember some basic stuff about programming which I learned back at university. I am an Engineer, so I really did not learn java. If you can understand android code, then by all means, look through it!

[2016-12-18 04:54] kn00tcn commented on #133
i doubt it's going to be android specific, most languages look quite similar, so it's just going to be an attempt to search for color usage, maybe checking what was added when the colors were first added & attempting to copy the same code over to the widget (if lucky)

[2016-12-20 06:30] udhbhav commented on #125
I am also facing the same issue. Can you please tell how to speed up the loading?

[2016-12-30 18:10] FridoDeluxe opened #171 "Bug: Wrong capitalization in Widget"
The weather description is wrongly capitalized in the widget, while in the app the description is correct:

![forecastie-widget-bug](https://cloud.githubusercontent.com/assets/498537/21570033/97deae8e-cec2-11e6-847f-4b33852d7a72.png)

[2016-12-31 22:41] brarcher opened #172 "Does not list next day, a new year, as tomorrow"
Today is 12/31/2016. I noticed in the Forcastie application that ```TODAY``` displays correctly:

![_20161231_155539](https://cloud.githubusercontent.com/assets/5264535/21579479/f7beb174-cf7f-11e6-8766-80f1d504adc0.JPG)

however ```TOMORROW``` is empty:

![_20161231_155528](https://cloud.githubusercontent.com/assets/5264535/21579483/02df6300-cf80-11e6-94e6-48588a0422b8.JPG)

Tomorrow's date, 1/1/2

[2017-01-01 05:22] brarcher commented on #172
Once the day changed things went back to normal. Namely, the ```TODAY``` tab lists the weather for 01.01.2017, ```TOMORROW``` lists 02.01.2017, and ```LATER``` list the next three days thereafter.

[2017-01-09 17:25] kompowiec commented on #112
actual i have android 6.0 and can't replace the bug - i think that can closed.

[2017-01-09 19:35] Nutomic commented on #112
No this crash seems to be fixed for me.

[2017-01-13 20:57] denis-bogdanas opened #175 "redundant usage of permission READ_CONTACTS"
Hello, I'm Denis Bogdanas, a research assistant at Oregon Stat University.
I'm working on a tool that automatically introduces runtime permission checks and requests for Android 6 apps. As part of this study I analyzed this app, looking for how permissions are referred in the code.

There are 2 places in the code that call
`
ActivityCompat.shouldShowRequestPermissionRationale(this, Manifest.permis

[2017-01-13 21:00] martykan commented on #175
Oh, thanks. READ_CONTACTS was never supposed to be there, it's fixed now.

[2017-01-13 21:00] #175 closed

[2017-01-26 02:01] icasdri opened #176 "Temperature (and other unit changes) do not automatically refresh"
After changing temperature (and other units) from Settings, upon leaving, the UI does not immediately reflect the changes, requiring a manual refresh.

Steps to reproduce:
1. Refresh Forecastie and observe currently used temperature unit (say `Fahrenheit`)
2. Open Settings
3. Change temperature unit (say to `Celsius`)
4. Exit Settings (by e.g. pressing back button)
5. Observe that old temperature

[2017-01-28 22:16] sim6 commented on #157
Please add notifications also for low temperature.

[2017-01-29 08:13] sim6 opened #178 "New version"
Firstly, thanks for your work.

What about release a new version?

[2017-01-29 09:02] moriel5 opened #179 "Dark Sky"
Could you please add Dark Sky as a weather provider?
Unfortunately, OpenWeatherMaps refuses to recognize my location, and my efforts to contribute were met with complete denial, and ever since I had tried to help get locations in my area into OpenWeatherMap, the situation had only worsened (it used to find my location correctly at rare intervals, now it never does).
Although it is discouraged, you

[2017-02-04 05:24] robinpaulson opened #180 "Moon rise/set times and phase"
I would appreciate having this data in forecastie; i can't see it listed in the open weather map API docs though. Is it possible from that provider?

[2017-02-07 01:27] picklecat commented on #51
I came here today to submit a feature request for the widget to have a transparent background option. Very glad to see there were already requests for it. A code reference for how to implement the transparent/color picker background for the widget can be found at Simple Calendar: https://github.com/SimpleMobileTools/Simple-Calendar

Cheers!

[2017-02-09 07:44] erdmark commented on #76
First step could be do cache last few lookuped locations for a short period of time

[2017-02-17 12:34] Linkid commented on #68
Hi! I'm working on a smaller widget (2x1).

[2017-03-01 09:12] jabranham opened #181 "Temperature as integer does not affect all temps"
Thanks for the great app. Related to #98.

The "show temperature as integer" setting does not seem to affect the forecasted temperatures (e.g. those below the today/tomorrow/later buttons).

[2017-03-05 21:41] #165 closed

[2017-03-11 13:18] artem-p commented on #181
For me, it works as expected.

[2017-03-23 13:27] trmendes commented on #163
Any news about this feature?

[2017-03-26 23:51] robinpaulson opened #182 ""Too many requests. Please try again.""
I get this error message increasingly frequently the past few months. My educated guess is so many people now use this app that you are hitting the limit of your api requests at OWM. If this is so, maybe have multiple api keys stored in the code and select one at random for each api start?

[2017-03-26 23:52] robinpaulson commented on #178
Yes, that would be good. There are a few minor changes not in new binary releases.

[2017-03-28 08:45] kompowiec commented on #179
https://github.com/Benjamin3992/OpenWeatherDuino
arduino it protip

[2017-03-30 02:29] Trainguyrom opened #183 "Incorrect Location Detected"
Greetings!

I'm a bit annoyed that when it attempted to detect my location, upon seeing "Verona" (I'm on the edge of Madison WI right next to Verona, and I believe my IP address says Verona) it shows the weather for what appears to be Verona New York.

I'm not familiar with the OpenWeatherMap API, but it seems reasonable to ask someone in the US (probably useful for other large countries like Russ

[2017-04-14 00:29] JonnyTech commented on #182
I too am getting this message, is there a way to fix it at my end?

[2017-04-17 05:15] daycode opened #186 "Add transparency to background widget"
Allow user to select the transparency of backgound color of the widget

[2017-04-20 06:45] robinpaulson commented on #181
As far as I can tell, it also isn't reflected in the graphs, they only appear to show integer temperatures.

[2017-04-24 08:49] erdmark commented on #182
You can add a custom api key in settings. You can use my key so you don't have to register:
dab439211993e605430a1ff8e028db24

[2017-04-24 14:25] JobLeonard commented on #182
Alternatively, sign up here:
http://openweathermap.org/appid

[2017-04-25 03:03] robinpaulson commented on #182
On 2017-04-25 02:25, Job van der Zwan wrote:

yes, i agree this is one possible solution. however, may other users of
the app will not know, understand or be inclined to investigate their
own api key. hence my suggestion of multiple keys per app.

--
robin

[2017-04-30 02:58] robinpaulson opened #188 "wrong conversion factor, m/s -> km/h"
I think it should be 3.6, not 3.59999999712.

https://github.com/martykan/forecastie/blob/master/app/src/main/java/cz/martykan/forecastie/utils/UnitConvertor.java#L61
https://en.wikipedia.org/wiki/Kmh#Conversions

[2017-04-30 03:01] robinpaulson commented on #188
Fixed with PR #189

[2017-05-03 04:37] robinpaulson commented on #161
Cool! closing

[2017-05-03 04:37] #161 closed

[2017-05-17 09:42] davidhedlund opened #190 "Forecastie in Dashclock: Settings do not open"
Nothing at all happens when I open Dashclock, and then click on **Settings** for Forecastie. This should at least open Forecastie.

[2017-05-26 19:07] ramack commented on #182
I just started to use forcastie and got the "Too many requests. Please try again." directly from the start. No problem to use my API key which I anyhow already had - I came to use forecastie because I knew the OWM project.

Neverthless I would suggest to tell the user the first time he opens the app, that it is recommended to create an account an an API key. Maybe it is even possible (but should p

[2017-05-26 19:14] ramack commented on #139
This would be great in my eyes!

[2017-05-26 19:27] ramack commented on #158
I also agree, that the view could be improved. In principle I like the vertical scrolling through the day, but the weekday and the date is far less important than the time in "today" and "tomorrow" views.

In the "later" view, the granularity is too fine in my eyes. 1 row per day would be perfect, but including minimum temperature.

I cannot really imagine wind of strength "3.3m/s", I would prefer

[2017-05-26 19:36] ramack opened #192 "Feature for warnings"
It would be great, if forcastie would warn me if a configured event is upcoming. Could be "frost" - right now summer is coming but in autumn it would help me to bring my flowers into the warm garage. For sure it is not helpful to be warned the whole winter time, so a setting would be good to enable the warning only after e. g. 20 day without frost.

Or on a hike ore bicycle tour it would be good t

[2017-05-27 05:09] ildar commented on #192
Yandex weather warns about any weather change that may be important for a
man: rapid warm/cold, rain etc. No need to configure anything.

[2017-05-29 19:01] ramack commented on #192
maybe, but this seems not to be free software, isn't it?

[2017-05-30 03:07] ildar commented on #192
Sure it's not. Just an example of UX

[2017-06-07 14:27] robinpaulson commented on #182
@ramack If there is an API to create API keys (this is very recursive and meta...), then yes. But I doubt it, otherwise OWM would maybe have problems with spam.

[2017-06-07 14:28] robinpaulson commented on #188
closing, cheers!

[2017-06-07 14:28] #188 closed

[2017-06-07 14:29] robinpaulson commented on #178
done, with #187. Could you close?

[2017-06-07 14:44] ramack commented on #182
It may be worth asking. Anyhow an e-mail-address is needed for account creation which needs to be validated to activate it (of I remember correctly) - this step would not be automated using forcastie.

Another alternative would be to just open the link to their registration website...

[2017-06-07 14:46] robinpaulson commented on #182
@ramack Yes, the point on validation is sound.

The second point should be easy to do as a first step.

[2017-06-08 03:46] robinpaulson commented on #178
I tagged a new release, v1.3. It is available now as source and will be in fdroid within a day.

[2017-06-08 03:46] #178 closed

[2017-06-08 03:50] robinpaulson commented on #171
Hmm, I wonder if this is a fault in OWM? Do they provide the text for the different weather conditions? Doing a search in the code for Forecastie, I can't find the text "klarer" or "himmel" anywhere in the app.

[2017-06-08 03:54] robinpaulson commented on #171
https://github.com/martykan/forecastie/blob/b544a5d3bec78e354c03674f32594d671a47a4be/app/src/main/res/values/strings.xml#L90

This line says "clear" is not translatable, which leads me to believe the text comes from OWM. I may be wrong,

[2017-06-08 05:41] robinpaulson commented on #152
Added in v1.3

[2017-06-08 05:41] #152 closed

[2017-06-08 05:42] robinpaulson commented on #147
Yep, this would be excellent, getting weather on the lock screen

[2017-06-08 07:40] FridoDeluxe commented on #171
The text comes clearly from OWM. This is a real JSON example containing the weather description from OSM:

[code]

I assume there are two different ways how this string is formatted in the Forecastie app and in its widget, otherwise I can't explain why it's displayed different.

[2017-06-08 07:41] sim6 commented on #178
Thanks

[2017-06-08 09:43] robinpaulson commented on #156
This is out of scope for the project. I'm sure there are other applications which do weather on Ubuntu Phone.

[2017-06-08 09:43] #156 closed

[2017-06-08 09:51] robinpaulson commented on #167
I believe this has been fixed with #184

Please check when the new version is released and close if you are satisfied, or add more info as necessary.

[2017-06-08 09:51] robinpaulson commented on #160
Pull requests welcome, it will be a while until I can get to this.

[2017-06-08 09:54] robinpaulson commented on #158
@ramack Perhaps the Beaufort scale would be best?

The idea is fine in principle, but not simple to do. Any help appreciated.

[2017-06-08 09:56] robinpaulson commented on #154
Thinking more on this, as it currently is, the user requires a multi-touch screen to zoom.

[2017-06-08 09:58] robinpaulson commented on #153
@cwmke Similar to that, but slightly different.

As it stands, it is possible to add forecastie to dashclock (so long as your version of dashclock supports android 6, which some don't). That allows for the user to view weather 'at a glance', without unlocking the phone. So, closing for now. If that is not good enough, please reopen.

[2017-06-08 09:58] #153 closed

[2017-06-08 10:00] robinpaulson commented on #143
Should be pretty trivial, once I figure out the correct API call.

[2017-06-08 10:00] #142 closed

[2017-06-08 10:04] robinpaulson commented on #148
Fixed with #149
Closing.

[2017-06-08 10:04] #148 closed

[2017-06-08 10:06] robinpaulson commented on #157
Duplicate of #192
Yes, I know this one was requested first, but 192 has more info/use cases listed so is a good start point.

[2017-06-08 10:06] #157 closed

[2017-06-08 10:07] robinpaulson commented on #159
Question answered, closing

[2017-06-08 10:07] #159 closed

[2017-06-08 10:08] robinpaulson commented on #137
Is anyone else seeing this? Also, do you know what causes it?

[2017-06-08 10:09] robinpaulson commented on #163
Does OWM provide UV index? Please look up and let me know.

[2017-06-08 10:11] robinpaulson commented on #176
I would guess the conversion is only done once the data is downloaded from OWM.

[2017-06-08 10:15] robinpaulson commented on #112
Closing, it appears gone for now.

[2017-06-08 10:15] #112 closed

[2017-06-08 10:17] robinpaulson commented on #135
@osoitz First step: could you check OWM to see if they support Basque language? Maybe ask them if they will?

[2017-06-08 10:19] robinpaulson commented on #179
duplicate of #126

[2017-06-08 10:19] #179 closed

[2017-06-08 10:22] robinpaulson commented on #134
@verdulo Is ildar's suggestion acceptable? Which language would you like?

The second part is fixed,

[2017-06-08 10:24] robinpaulson commented on #133
If one of you could look up the relevant code, that would be a big help (as would making a pull request with a fix...).

[2017-06-08 10:26] robinpaulson commented on #75
@juanitobananas

Please do!

[2017-06-08 10:28] robinpaulson commented on #76
This sounds like the best option for a first cut:
* list of recently viewed cities in search dialog

Fairly easy to implement, in comparison to the other suggestions.

[2017-06-08 10:28] lcavalli commented on #167
Hi,
not sure it has been fixed in #184. I think that to modify Dashclock widget it has to be modified at:
Row 121 of app/src/main/res/values/strings.xml:
https://github.com/martykan/forecastie/blob/master/app/src/main/res/values/strings.xml#L121
Row 66 of app/src/main/java/cz/martykan/forecastie/widgets/DashClockWeatherExtension.java:
https://github.com/martykan/forecastie/blob/master/app/src/main

[2017-06-08 11:38] artem-p commented on #135
Here are languages they support:

Arabic - ar, Bulgarian - bg, Catalan - ca, Czech - cz, German - de, Greek - el, English - en, Persian (Farsi) - fa, Finnish - fi, French - fr, Galician - gl, Croatian - hr, Hungarian - hu, Italian - it, Japanese - ja, Korean - kr, Latvian - la, Lithuanian - lt, Macedonian - mk, Dutch - nl, Polish - pl, Portuguese - pt, Romanian - ro, Russian - ru, Swedish - se, Sl

[2017-06-08 11:44] robinpaulson commented on #135
Hmm, I suppose it is possible to translate the OWM messages, but it's a lot more effort than if OWM supported them directly. It may take a while to get round to this, unless you want to have a go?

[2017-06-08 11:46] robinpaulson commented on #164
@Primokorn Please expand what you mean by values > colors.xml

Are you prepared to write code and make a pull request?

[2017-06-08 11:59] robinpaulson commented on #166
At this line:
https://github.com/martykan/forecastie/blob/master/app/src/main/java/cz/martykan/forecastie/activities/MainActivity.java#L427

I guess we need:

if temperature < 1 then
  temperature = "0" & temperature

which may need a bit of variable type wrangling, switching from float to string and maybe back to float.

[2017-06-08 12:02] robinpaulson commented on #139
I wonder in fact if we could use Osmand to display the data, rather than doing it in forecastie (Assuming osmand is installed of course). That would certainly simplify things, osmand can handle vector data for the maps and raster data for the weather, both offline. And tiles can be set to expire after a user-definable amount of time.

I don't know how well apps can interact in android though, perh

[2017-06-08 12:04] robinpaulson commented on #136
If #126 is implemented, we could do this, but not at the time being.

[2017-06-08 13:06] ildar commented on #133
If you allow me to donate my 5 cents 😀
I suggest that app theme and widget theme should be independent. For some
reasons what you see in apps and Launcher staff quite often are different.
That's what I also see in some apps - different settings for app and widget.

[2017-06-08 13:55] Primokorn commented on #164
This file: https://github.com/martykan/forecastie/blob/master/app/src/main/res/values/colors.xml

No problem for the PR.

[2017-06-08 15:03] trmendes commented on #163
It seems like they do have it: http://owm.io/uvi

[2017-06-08 16:39] ildar commented on #163
Yeah, but do they have it in API?

[2017-06-08 18:05] trmendes commented on #163
If owm stands for openweathermaps it seems like they have the api and the link to the docs is: http://openweathermap.org/api/uvi .

[2017-06-08 19:03] FridoDeluxe commented on #171
I guess I found the cause: https://github.com/martykan/forecastie/blob/75b797e4d6446bd548d70d4d0d60d8ab2fffb36c/app/src/main/java/cz/martykan/forecastie/widgets/AbstractWidgetProvider.java#L116. The `toLowerCase()` at the end is unnecessary and is causing the wrong capitalization in the widget. The code for the main activity seems not to use this kind of string handling, hence it's correct inside

[2017-06-08 19:52] FridoDeluxe commented on #163
+1
Since UV index data is made avaiable via the OWM API this looks like a feasible and valuable new feature.

[2017-06-08 20:01] FridoDeluxe commented on #192
OWM has a new beta feature called Triggers or Weather Alerts: http://openweathermap.org/triggers.
They don't provide predefined alerts, instead the user can define certain conditions when to be alerted by polling the API. I'm not sure if the possibilities of this trigger API are sufficient for what you have in mind for weather warnings?

[2017-06-08 20:13] ramack commented on #192
Yes, this seems to be exactly what I thought about. Even though a easy but still powerful UI for setting these is probably not straight forward.

[2017-06-08 22:01] FridoDeluxe commented on #192
For the beginning a few built-in general triggers (extreme high/low temperature, heavy rain, thunderstorm...) inside Forecastie should be enough, they could be selected by the user if desired.
But I see potential problems with the API key: If at a later stage triggers can be user-defined they are saved into the OWM account of the API key, additionally keeping track of weather triggers means probab

[2017-06-09 02:13] ildar commented on #192
Then this feature might require the user API key

[2017-06-09 04:32] robinpaulson commented on #163
Excellent, is anyone willing to implement and make a PR?

[2017-06-09 04:34] robinpaulson commented on #171
@FridoDeluxe
Could you make a pull request, the change seems fairly straightforward and uncontroversial?

[2017-06-09 06:27] robinpaulson commented on #164
Unfortunately I don't have much experience with this particular item; could you briefly explain what it does? The link in your first post doesn't go anywhere. Cheers

[2017-06-09 06:37] robinpaulson commented on #160
OK, done. It should show up in v1.4, which will be released in a few days.

[2017-06-09 06:37] #160 closed

[2017-06-09 06:39] robinpaulson commented on #154
Done, this will be in v1.4

[2017-06-09 06:39] #154 closed

[2017-06-09 06:41] robinpaulson commented on #155
@tsimonq2
While the legend is easy to add with leaflet, I'm not sure how to generate it. Could you take a look at OWM to see if their API provides a legend/scale for maps - we might not need to generate it?

[2017-06-09 08:22] Primokorn commented on #164
Check the PR.
Basically I redirected @android:color/xxxxx to values/colors.xml

When I created this issue I was working on a theme through the CyanogenMod theme engine. I wanted to apply a true black background with light text.
Unfortunately all colors that are located into layout folders can't be modified. This means that dark texts couldn't be inverted.

[2017-06-09 08:29] robinpaulson commented on #164
Merged; v1.4 is due for release in a couple of weeks, it'll be in that.

[2017-06-09 08:29] #164 closed

[2017-06-09 08:35] robinpaulson commented on #133
@ildar
This is a valid point; it would require a separate item in the settings. Perhaps:
Widget theme:
===========
* Same as app
* Dark
* Light
* Night
etc.

Now that #164 has been implemented, does that make all this simpler?

Is anyone keen to start on this; a sizeable chunk of it will be a copy and paste from the app theme code.

[2017-06-09 09:15] robinpaulson commented on #186
#164 helps with this

[2017-06-09 10:48] kn00tcn commented on #133
holy crap i never noticed how many contributors there were, i always thought it was a one guy app

i have a very unreliably vague interest in taking a look that i may not even get around to, but maybe that depends on how complicated the app theme code is, will have to take a look first

[2017-06-09 12:21] jobbb opened #198 "Widget - Forecast for the next few days"
Hi, a widget for the forecast for the next days would be great.
For example:

![example](https://user-images.githubusercontent.com/23344828/26975172-3502af7a-4d0e-11e7-9653-f890c87661b5.JPG)

[2017-06-09 12:31] robinpaulson commented on #198
Would you say issue #34 covers what you're after? If so, I'll mark this as a duplicate and close it. If not, please expand.

[2017-06-09 12:45] robinpaulson commented on #33
This is similar to some of the widget proposals, such as #198

[2017-06-09 12:50] robinpaulson commented on #176
I found last night that if I go offline, kill the app and restart it, the correct units are displayed.

[2017-06-09 13:02] robinpaulson opened #199 "Change graphs to float values instead of integers"
At the moment they are rather jumpy

[2017-06-09 13:27] #199 closed

[2017-06-09 13:40] robinpaulson commented on #181
I can't reproduce the bug @jabranham reports either. I fixed the part I added, in #200
closing for now, please reopen if you still get the bug

[2017-06-09 13:40] #181 closed

[2017-06-09 13:42] robinpaulson commented on #182
As alternatives to the suggestions above:
* Is multiple api keys per app allowed in OWM's terms?
* Is there anyway to extend the number/frequency of data requests for a given api key? I guess it requires paying (more) money to OWM maybe?

[2017-06-09 18:21] FridoDeluxe commented on #171
Unfortunately it's currently impossible for me to help with coding (mostly lack of time to set everything up). But if nobody else fixes this capitalization bug I will provide a PR later this year. Is @martykan not active anymore?

[2017-06-10 01:38] tsimonq2 commented on #155
I'm not sure where to start here, @robinpaulson.

[2017-06-10 02:13] robinpaulson commented on #171
@FridoDeluxe
Martykan has other priorities at the moment, I am lending a hand in the meantime. If you're busy too, I will prepare a PR shortly.

[2017-06-10 02:27] robinpaulson commented on #171
ok, done. that should show up in v1.4, due in a couple of weeks (although i may bump earlier if there are enough other fixes)

[2017-06-10 02:27] #171 closed

[2017-06-10 02:53] robinpaulson commented on #163
I dug into this a bit, it appears there are eight parts to this:
1. get the data from OWM; as an example, this gets the data for my location (auckland, nz): api.openweathermap.org/v3/uvi/-36.75,174.4/2017Z.json?appid=78dfe9e10dd180fadd805075dd1a10d6
2.modify weather.java
3. modify parseresult.java to parse the result from the api call
4. modify mainactivity.java to process the values from the pars

[2017-06-10 06:26] robinpaulson commented on #76
@AxelTheGerman If you're willing to write some code, please do!

[2017-06-10 07:27] robinpaulson commented on #19
This looks like an interesting idea, but the obvious question springs to mind: why not use "Weather Notification"? It's in g play and fdroid, I have it installed now alongside forecastie and it works very well. It even does a lock screen widget.

[2017-06-10 11:02] jobbb commented on #198
Please close it, best regards.

Am 2017-06-09 12:31, schrieb robinpaulson:

[2017-06-10 11:05] robinpaulson commented on #198
Great, cheers.

[2017-06-10 11:05] #198 closed

[2017-06-10 12:28] robinpaulson commented on #183
This appears to be an issue with OWM rather than Forecastie. That said, it's still a bug which should be fixed here if we can.

What happens when you search "verona wisconsin"?

Have you dug into the OWM API? Perhaps there are clues there for selecting locations in a better way?

My second response is to say wait until there are other data providers, as detailed in #126. That is a ways off though,

[2017-06-10 12:40] verdulo commented on #134
No, I want to translate programs to Esperanto, which is not selectable on Android. Currently I'm using another weather app: https://github.com/Kestutis-Z/World-Weather, of course when you add an option to change the language, I'll consider contributing translation.

[2017-06-12 03:49] robinpaulson commented on #147
Are there any apps, with source code available, which are cyanogenmod (lineageOS now of course) weather providers?

[2017-06-12 03:50] robinpaulson commented on #137
As in, what particular action (refresh weather, open graphs, change APIkey, etc.)?

[2017-06-12 05:14] robinpaulson commented on #190
In all the other dashclock widgets which I have, there are settings to adjust. In the case of Forecastie, there aren't any settings for the widget. That said, the "Settings" menu item should do something, but I'm not sure opening Forecastie is the right thing.

[2017-06-12 05:24] robinpaulson commented on #76
this also sounds fairly simple to do, it would require an expansion of what is already stored offline. I presume this is in an sqlite db in /data.

[2017-06-12 05:35] ildar commented on #134
Now I restored the name of the app you need: [Morelocale2](
https://www.c-lis.co.jp/our_services/morelocale-2).
That should help you to switch your whole phone's UI to the desired
language (which, I think, may be what you want).
Please talk back if that solution satisfies you.
Anyway asking each and every app developer to add "Language pref" is no
good at all. Deadend.

[2017-06-12 09:05] robinpaulson commented on #134
There's nothing per se wrong with asking. Any software with a decent community around it should encourage anyone to ask questions, make suggestions, propose improvements and provide pull requests. I'm glad verdulo asked, whether esperanto is implemented or no.

[2017-06-12 10:21] robinpaulson commented on #135
This looks related to #134 , but not identical. We should perhaps consider the other when attempting to implement one.

[2017-06-12 10:27] robinpaulson opened #201 "Add link to "API Key" signup page in settings"
Add a link in the settings dialogue, taking users to the page on the OWM website where they can sign up for their own API Key.

Fixes part of #182

[2017-06-12 10:28] robinpaulson commented on #182
@ramack

I added an issue for this, it's a simple (partial) solution to the problem.

See #201

[2017-06-12 10:33] robinpaulson commented on #176
Which means we need to trigger the redisplay of the units when ever the user changes one of the preferred units. That said, this is low priority, most users set units and never change them.

[2017-06-13 18:10] osoitz commented on #135
FYI, I contacted OWM and they sent me the strings to translate. So this will hopefully be solved soon for Basque in origin.

[2017-06-14 03:39] robinpaulson commented on #135
@osoitz Could you expand please? Do you mean OWM will soon support Basque as a language?

[2017-06-14 04:26] robinpaulson opened #202 "Links in "About" dialogue do not open in browser"
They currently load in the browser embedded in the "About" dialogue.

They should open in whatever the default browser for the phone is.

[2017-06-14 04:31] robinpaulson commented on #202
Suggestions welcome for how to force this.

[2017-06-14 05:14] robinpaulson commented on #178
For the future release schedule, check out the milestones page:
https://github.com/martykan/forecastie/milestones

[2017-06-14 07:19] robinpaulson commented on #138
The plan for this is to use a graph to show the wind strength, with arrows from the "Weather icons" font to show the direction. My concern is this may make the graph too crowded, unless the arrows are unreadbly small. Perhaps we only add an arrow at the point in time where the wind shifts? Implying all points after that point are the same. It would of course simplify this task if the precision is

[2017-06-14 08:24] robinpaulson commented on #202
This may require an intent, in this form:
https://stackoverflow.com/questions/2201917/how-can-i-open-a-url-in-androids-web-browser-from-my-application

[2017-06-14 08:25] robinpaulson commented on #202
This is also relevant to #201

[2017-06-15 06:38] robinpaulson commented on #183
I did a search for "Verona Wisconsin" and it picked the correct location, the one in the midwest, not NY.

I'm not sure what to suggest; location resolution is always tricky, and given an ambiguous input (Verona, US), I think it's reasonable that it defaults to the most populous location. That said, it probably should give a range of matching options. I merely shortcircuited that by typing the sta

[2017-06-15 07:07] robinpaulson commented on #183
I did a search for "Verona Wisconsin" and it picked the correct location, the one in the midwest, not NY.

I'm not sure what to suggest; location resolution is always tricky, and given an ambiguous input (Verona, US), I think it's reasonable that it defaults to the most populous location. That said, it probably should give a range of matching options. I merely shortcircuited that by typing the sta

[2017-06-15 14:13] osoitz commented on #135
They said they'd be glad to support Basque and I already sent them the translated strings.

You might want to keep this bug open though if you still consider implementing a solution for other languages supported by Forecastie but not OWM.

[2017-06-16 01:22] robinpaulson commented on #135
Wow, that's excellent of them. Good to hear.

[2017-06-16 10:46] robinpaulson commented on #178
I bumped v1.4 forward by a couple of weeks; there were build errors in v1.3 fixed after the release, and it was too much work to backport the fixes to v1.3.

[2017-06-17 05:20] robinpaulson commented on #138
I have created a branch in my fork of forecastie, before I commit I would appreciate a once-over from anyone who is interested:
https://github.com/robinpaulson/forecastie/tree/add_wind_graph

It is mostly a copy and paste from the other graphs, with appropriate tweaks.

[2017-06-17 07:58] robinpaulson opened #203 "Replace webview object in "About" dialogue with text object and clickable text link"
Before fixing #202 we should perhaps first replace the "webview" object with a simple clickable text field. Webview isn't necessary for a few hyperlinks.

Textview looks like it will be suitable:
https://stackoverflow.com/questions/2734270/how-do-i-make-links-in-a-textview-clickable#2746708

[2017-06-17 08:59] robinpaulson commented on #172
This could be very hard to debug, unless someone is interested in putting together a fake replacement for the OWM server on a different domain (with an appropriately modified address for the API call of course), and altering the dates on both the server and the android install. Help most definitely needed.

[2017-06-17 09:02] robinpaulson commented on #68
Hi @Linkid how is your 2x1 widget going? If it is ready or you need assistance, let us know! Or make a PR.

[2017-06-17 09:15] robinpaulson commented on #25
Climacons look like a good set of icons, presumably you refer to these:
https://github.com/AdamWhitcroft/climacons/archive/master.zip
Unfortunately, this in the licence is problematic: "Do not redistribute". F-droid will never include it also it's flat-out ambiguous so we should probably not use it.

[2017-06-17 09:32] robinpaulson commented on #182
According to this:
http://openweathermap.org/price
Each API key only allows 60 calls/minute then it blocks for up to 4 (four!) hours.

[2017-06-17 11:23] ildar commented on #25
+1 for avoiding climacons. I'd suggest contacting a free artists and ask
him. My 1st candidate would be https://gitlab.com/xphnx/

[2017-06-17 11:32] robinpaulson commented on #25
There must be some already with a decent licence, surely?

I opened an issue on the climacons repo, their licence is contradictory and almost impossible to implement! If they refuse, next step is to cast around and see what already exists.

[2017-06-17 12:05] robinpaulson commented on #25
This just occurred to me:

We cannot use the weather icons directly, but I'm sure it can be easily converted into a series of png/svg files and then used as icons?

From here, it appears there are indeed svg files of the font images. I'll see what I can do.

[2017-06-17 18:28] brarcher commented on #172
As this issue is not that important, but is expected to happen again at the year end, perhaps check back on 12.31.2017 and see what can be learned then. Alternatively, is there a unit test which could be created to return mocked OWM data and also mock the time?

[2017-06-17 23:36] robinpaulson commented on #172
This is above my skill level unfortunately. If you wish to write one, please do.

I will contemplate what I can do

[2017-06-17 23:51] robinpaulson commented on #172
This may be useful:
http://openweathermap.org/history
Historical data

[2017-06-18 03:09] brarcher commented on #172
Reviewing the code, I think that the issue is the following line in [MainActivity.java](https://github.com/martykan/forecastie/blob/master/app/src/main/java/cz/martykan/forecastie/activities/MainActivity.java#L529):
[code]
This is a wrapping bug, as on the last day of the year (assuming 365 days/year) the following is the case:
[code]
To resolve this you will need to account for the wrapping:
[cod

[2017-06-18 05:13] robinpaulson commented on #172
Thanks @brarcher that is a big help. Would you be prepared to fork, make changes and propose a PR?

[2017-06-20 20:35] justadroid commented on #186
Hi,
will it work if we just add this line to "extensive_widget.xml"
and to "time_widget.xml":

android:background="@android:color/transparent"

how can this be done? I tried substituting the original xlm files with the modified ones but even in root and read/write access allowed the files cannot be placed in the directory. Is this possible in any other way? Can the developer simply add this line a

[2017-06-21 05:18] robinpaulson commented on #186
@justadroid
Possibly, that looks about right. I'm not sure which widget we should modify, I can look into it shortly.

I don't know if it's possible to merely add the file to the appropriate directory, is that somewhere in /data?

Yes, the developer can add that line and update the app. I'm not the developer but I am looking after the project for the time being, martykan is a bit busy at the momen

[2017-06-21 10:26] ildar commented on #186
The original issue was about transparency of some level, not 100%
transparent. Though for me 100% transparent is better then 0% transparent.

[2017-06-21 15:14] justadroid commented on #186
@robinpaulson great, yes its in data/app/forecastie directory/res/xml

there is also /xml-v17

I am wondering if we are speaking of reverse engineering here?

@ildar agreed. also, if i understand correctly for the degree of transparency it has to be something on the color , for example from FF to 00

`<color name="transparent_red">#99FF0000</color>`

I found this info here:
[https://stackoverflow.

[2017-06-22 01:02] robinpaulson commented on #186
@justadroid
If the code for a number is 6 digits, then the digits represent rgb (two digits for each colour)
If the code is 8 digits, then the first 6 are as above and the final two are for alpha, or transparency
https://en.wikipedia.org/wiki/RGBA_color_space

[2017-06-22 01:04] robinpaulson commented on #186
I don't know what /xml-v17 is, that doesn't exist in the code. It is maybe generated by Android/Forecastie at run time?

[2017-06-24 11:20] robinpaulson opened #204 "Weather maps do not work in v1.4"
The screen is completely blank.

The only changes from v1.2 were:
* Default map zoom is now 5 (previously 13)
* The map now has a zoom control, as per #154

[2017-06-24 12:30] robinpaulson commented on #204
The problem was a typo in map.html, fixed with:
https://github.com/martykan/forecastie/commit/a1e6359d327d863c662974cd9de6ac166f01954a

[2017-06-24 12:40] robinpaulson opened #205 "Upgrade to newer (faster) version of Leaflet"
Only if it is faster and/or fixes security bugs.

Newer versions appears to have a different API.

[2017-06-25 04:57] ThePreviousOne opened #206 "Unset Default temperature unit"
![screenshot_20170624-101252](https://user-images.githubusercontent.com/13936351/27513769-45c97e4e-5941-11e7-80b4-cbf0ab80a8f3.png)
![screenshot_20170624-101625](https://user-images.githubusercontent.com/13936351/27513770-4745db28-5941-11e7-93a4-2d468c62f82a.png)
![screenshot_20170624-155437](https://user-images.githubusercontent.com/13936351/27513772-4895ab16-5941-11e7-8bee-4e31edf8e152.png)

[2017-06-25 05:26] ildar commented on #206
You seem to have temperature in Kelvin. Is that what you intended?

[2017-06-25 05:33] ThePreviousOne commented on #206
No, actually it was unset....? Just checked.  297 K is cold isn't it?
BTW v1.4

[2017-06-25 05:36] ildar commented on #206
No, it's 24 of Celsius

[2017-06-25 05:37] ThePreviousOne commented on #206
ya that setting the value fixed it

[2017-06-25 05:39] ThePreviousOne commented on #206
Unrelated did you just know that conversion or was some calculator involved ... I'm impressed

[2017-06-25 06:13] ildar commented on #206
That's in school program of physics 😉

[2017-06-25 15:34] cwmke commented on #19
That's a good point but one thing I do pretty frequently is check the detailed weather in the notification drawer and then tap it if I want to see maps or more information. If it was built into Forcastie, this would open the app for me to do so.

In addition, having both installed duplicates location and weather requests.

_Sent from my Huawei Nexus 6P using [FastHub](https://play.google.com/store

[2017-06-26 01:41] robinpaulson commented on #206
Appears resolved, closing

[2017-06-26 01:45] robinpaulson commented on #19
OK to both points. Are you willing to contribute code? Otherwise, this may be a ways off

[2017-06-26 02:15] robinpaulson commented on #204
Released as v1.4.1

[2017-06-26 19:44] cwmke commented on #19
No time or ability I'm afraid. Whenever/if you decide to add it is great to me. Thanks!

[2017-06-27 08:00] mtbu commented on #147
This is the official one: https://github.com/LineageOS/android_packages_apps_OpenWeatherMapProvider

[2017-06-27 18:16] brarcher opened #207 "Temperature not being reported correctly"
After updating this morning to v1.4 I noticed that the temperature being reported for my area is a bit hotter than usual:

![screenshot_20170627-074413](https://user-images.githubusercontent.com/5264535/27603018-bde42430-5b42-11e7-9c1f-cc3107c1f640.png)

As my area is not a wasteland today (the readout is over 200C), I assume the value is being reported incorrectly. Downgrading back to v1.2 finds

[2017-06-27 19:29] ramack commented on #182
Changing to another weather data provide would remove the main reason to use forcastie (for me) so I think that this is the least of all options.

[2017-06-28 04:06] robinpaulson commented on #207
Downgrading's not necessary, it works fine. You might need to confirm temperature units in the settings

Check issue #206

[2017-06-28 04:11] robinpaulson commented on #182
@Gitsaibot
It's in the works to allow multiple weather providers, but it's a ways off.

[2017-06-28 12:02] brarcher commented on #207
I do confirm that when upgrading to v1.4 again that the temperature setting was dropped, leaving the app in a state where it reported temperature value in kelvin but reported the temperature unit in Celsius. It seems there is a bug, namely that the temperature unit setting was dropped when upgrading from v1.2 -> v1.4. If this is the case, then the bug report in https://github.com/martykan/forecast

[2017-06-29 09:25] Nutomic opened #208 "Version 1.4 broke the Clock Widget"
After updating from 1.2 to 1.4, the 4x2 widget is completely broken (I didnt try 1.3 because that's not on F-Droid).

[Version 1.2](https://user-images.githubusercontent.com/1044450/27680849-256037d2-5cf8-11e7-8017-3b6020bd1d10.png)
[Version 1.4](https://user-images.githubusercontent.com/1044450/27680850-271d6bee-5cf8-11e7-9e28-360cf1a46434.png)

I guess you were doing this to add an alternative w

[2017-06-29 09:29] robinpaulson commented on #208
I think there are two widgets now, did you try the other?

Also, v1.3 was broken; f-droid didn't build it.

[2017-06-29 09:30] robinpaulson commented on #207
OK, point taken. I'm not sure what to do though, any suggestions?

[2017-06-29 09:31] robinpaulson commented on #206
As @brarcher points out, this is not actually resolved.

Suggestions what to do?

[2017-06-29 10:04] Nutomic commented on #208
Here are both widgets from 1.4, none of them looks like the clock widget in 1.2.

[Version 1.4 Widgets](https://user-images.githubusercontent.com/1044450/27682498-b7bcbc86-5cfd-11e7-9d93-6bdaabd53dec.png)

[2017-06-29 10:12] robinpaulson commented on #208
Hmm, yes I see. I'll have to take a look at the changes that were introduced after v1.2. That might take a few days though. Unless you'd care to take a look and see what happened?

[2017-06-30 03:33] Nutomic commented on #208
Sorry but I don't really have the time. And I'm not familiar with the code either.

[2017-07-01 05:53] ildar commented on #207
Set the temperature units during upgrade data on startup to that of the
previous version inherited, considering default value?

[2017-07-01 17:03] trmendes commented on #163
:)...I hope to see this feature soon

Just let me know if you need any help with this...
cheers,
Thiago

[2017-07-02 02:16] robinpaulson commented on #204
v1.4.1 is out, maps now work again. closing

[2017-07-02 02:16] #204 closed

[2017-07-02 02:20] robinpaulson commented on #163
@trmendes
If you're willing to fork, branch and start coding, that'd be great. I can chip in too, where I'm able.

[2017-07-02 04:04] brarcher commented on #172
As it stands I do not have a way to test the fix until 12/31/2017 unless I create a unit test for it. There are currently no unit tests, so some setup would need to be done to get to that point.

I can look into providing a tested fix, but it may take some time. If you are interested in resolving it before I get around to it, feel free. (:

[2017-07-02 04:17] robinpaulson commented on #172
I don't know how to write unit tests, or a framework for them. I could do some research, but that will take time. I will write a comment here with any progress.

[2017-07-02 04:20] robinpaulson opened #209 "Zoom button on weather maps is partially obscured"
The top drawer of the OS covers half of the "zoom in" (+) button.

Moving it down by 20 pixels should fix the issue.

[2017-07-02 04:26] robinpaulson commented on #207
Closing again, as duplicate of #206

[2017-07-02 04:26] #207 closed

[2017-07-02 04:46] #209 closed

[2017-07-02 05:56] robinpaulson commented on #155
My initial method to do this was to either get a pre-defined legend from OWM (if one exists), or to dynamically generate it. From what I can tell, the first doesn't exist and the second is a bit harder than I'm willing to do at the moment (it would require extracting max and min rgb values from the tiles on screen and then drawing a legend between those extreme values).

In the meantime, I will cr

[2017-07-02 07:48] robinpaulson commented on #155
Aha, I found these:
![image](https://user-images.githubusercontent.com/1186107/27768095-a935df4a-5efa-11e7-9120-8277edd79bc6.png)
![image](https://user-images.githubusercontent.com/1186107/27768096-ab87473e-5efa-11e7-9ee6-0f1d6970ff73.png)
![image](https://user-images.githubusercontent.com/1186107/27768097-aed17162-5efa-11e7-8030-0a50399be04b.png)
![image](https://user-images.githubusercontent.com

[2017-07-02 08:26] robinpaulson commented on #155
Hmm, alternatively, this appears built in to leaflet:
https://stackoverflow.com/questions/21307647/leaflet-adding-a-legend-title

[2017-07-02 08:45] robinpaulson commented on #182
@Gitsaibot
Yes, that is correct (about some users not understanding). However, some will (particularly if we frame it as an account, rather than an API Key, the latter of which is very abstract). I will work on a short spiel to explain why an API Key is a good idea, and then add it to the dialogue. Perhaps also we should offer to create an API Key as soon as the user gets a preset number of "Too m

[2017-07-02 08:49] robinpaulson commented on #182
Example text to accompany "API Key signup link"
---
Weather Data is provided by Open Weather Map, free of charge, via an account which the developers of Forecastie have signed up for. This account can only support a limited number of users. If you repeatedly get the error message "Too many requests. Please try again.", you may wish to create your own account. To do so, click here [link to OWM API

[2017-07-02 09:49] ramack commented on #182
I like it. Some apps display a startup message at first start, this could also be used to display the same text. Also I recommend to change the "Too many requests. Please try again." message to "Too many requests by common account. Please try again or registers yourself. [More Info]" with more Info a link to the same text.

[2017-07-02 11:09] Linkid commented on #68
Sorry, I was fighting against the refresh button on the widget. I restarted from the TimeWidget and it's working now.

[2017-07-02 11:59] robinpaulson commented on #68
Excellent, that's great news. A screenshot would be a big help.

[2017-07-02 13:15] robinpaulson commented on #68
Merged, this will show up in v1.5 in 3 weeks

[2017-07-02 13:15] #68 closed

[2017-07-02 13:20] robinpaulson commented on #167
@lcavalli
Did the updates released in v1.4.1 satisfy you? If not, we can investigate further.

[2017-07-02 16:39] ildar commented on #172
You'll need a mock web-service :)

[2017-07-02 22:36] robinpaulson commented on #137
I can't recreate this, could you provide some hints please?

[2017-07-03 00:54] robinpaulson commented on #182
Do you mean on the splash screen? A splash has recently been implemented in forecastie. I guess we could add a note to that, with a "Don't show this next time" tick/check option. But it feels clumsy and inelegant.

[2017-07-03 01:01] robinpaulson commented on #186
I'm going to close this issue and add a relevant note to #133 so it includes the points raised here.

[2017-07-03 01:01] #186 closed

[2017-07-03 01:02] robinpaulson commented on #133
#186 Includes relevant requests and information which we should make sure we cover here, particularly the desire for a transparent widget.

[2017-07-03 01:08] robinpaulson commented on #51
We recently added code for a 2x1 widget. This will be released in v1.5; please check at the end of July to see if this covers any of the requests listed here.

[2017-07-03 06:18] jcrowgey opened #212 "Daily high/low"
It would be nice to consolidate the forecasted temperature data into a high/low prediction.  Currently, you have to scroll through three hour blocks looking for the high (or low).

[2017-07-03 16:34] gappleto97 opened #213 "Unit is incorrect on install"
Just grabbed the F-Droid version, and by default it showed Kelvin, but labelled it as Celsius.

[2017-07-03 17:33] Massedil opened #214 "Possible improvement for the French translation"
On the widget translated in French :
1. In French, there is an unbreakable space before the char ":"
  a. Pression: --> Pression :
  b. Humidité: --> Humidité :
  c. ...
2. There is a remaining "\n" which is not interpreted and displayed before "Dernière mise à jour".

[2017-07-03 17:34] Massedil commented on #214
![screenshot_20170626-011445](https://user-images.githubusercontent.com/20357783/27802838-7f1cdb6e-6026-11e7-8db1-7ed07ecc6218.png)

[2017-07-03 19:13] jcrowgey commented on #212
Looking at the openweathermap free api, it looks like there "weather" request comes with a temp_min and temp_max which we could use to show today's high and low.  Then, the forecast endpoint is a little weird, because the temp_min and temp_max keys in the list of forecasts actually refer to the min and max in the given location at that time (weird!).  So, for the forecast, perhaps we could simply

[2017-07-03 20:33] ramack commented on #213
isn't this a duplicate of #206 ?

[2017-07-03 20:41] gappleto97 commented on #213
Appears to be. I guess I should file an issue in FastHub for the search function now. I keep forgetting it's broken.

[2017-07-04 02:29] robinpaulson commented on #212
In the meantime, you can use the graphs to work put high/low.

[2017-07-04 03:37] davidhedlund opened #215 "Settings -> Temperature units: Celsius (broken)"
A few days ago I got 285C in temperature, the next day Forecastie was updated but the problem persisted. This is both on the widget and on the app window.

I had set Settings -> Temperature units Celsius: Celcius when this happened. When I went to Settings -> Temperature units Celsius now when this bug occurred it was not set to "Celcius" or anything else, when I selected "Celcius" the temperature

[2017-07-04 04:08] robinpaulson commented on #215
This is a duplicate, please search before posting

[2017-07-04 04:11] #215 closed

[2017-07-04 04:12] davidhedlund commented on #215
@robinpaulson Please post the duplication link here then.

[2017-07-04 04:12] robinpaulson commented on #213
Yep, it is a duplicate. Please search before posting.

[2017-07-04 04:12] #213 closed

[2017-07-04 04:13] robinpaulson commented on #215
#206

[2017-07-04 04:15] robinpaulson commented on #214
I believe #211 fixes this, it will be released in 3 weeks

[2017-07-04 04:15] davidhedlund commented on #215
@robinpaulson Thank you. The temperature is certainly set contrary to what the dup bug says.

[2017-07-04 15:29] Massedil commented on #214
I think #211 will only fixes the point n°2. Thanks ! :)

But #211 will not add an unbreakable space before a colon, isn't it ?

[2017-07-04 19:34] OffifialMITX opened #216 "Status bar overlays half of the zoom in button"
In the map.

[2017-07-04 19:39] OffifialMITX commented on #158
Maybe you could also give us an option to show a combined graph instead of the regular view? I'll make a picture if you want to see what I'm thinking of.

[2017-07-05 01:00] robinpaulson commented on #216
This is a duplicate and already fixed, please search before posting #209

[2017-07-05 01:00] #216 closed

[2017-07-05 02:21] robinpaulson commented on #214
I'm not sure. Are you suggesting there should be a "\\n" on line 20 also (before the "\%s")?

[2017-07-05 02:22] robinpaulson commented on #158
@OffifialMITX Yes, please do. Mock-ups are always a great start for visual changes.

[2017-07-05 08:08] Massedil commented on #214
No !

I suggest to put a space (punctuation) before each colon ":" because in France there is a space before a colon.

For example, the correct punctuation is "Lever du soleil : 05:36" and not "Lever du soleil: 05:36".

[2017-07-05 23:11] DerVerruckteFuchs commented on #206
I'm getting a similar issue with the default temperature being measured in Kelvin, but I'm getting "F" for my unit. Normally Fahrenheit is "°F". Is the unit being set based on locale or location? The alpha/char portion of the unit seems to be set to a decent default, save for the missing "°". It seems that whatever detection is being used to determine a default unit is not quite complete. Assuming

[2017-07-05 23:19] DerVerruckteFuchs commented on #206
Alright, so I cleared my app cache/config for Forcastie, force stopped it, and switched my system language to "English (United Kingdom)" from "English (United States)". Upon restarting the app I got my default location as "London, GB" with "C" as my units. Temperature is still in Kelvin. It seems part of the defaults are locale/system language based.

[2017-07-06 00:11] robinpaulson commented on #214
OK, got it. Do you want to prepare a pull request?

[2017-07-06 00:13] robinpaulson commented on #214
Or list the files and lines where we should make the changes?

[2017-07-06 00:15] robinpaulson commented on #206
@DerVerruckteFuchs I'm not sure how units are selected, I assumed it was by the user, ignoring locale

[2017-07-06 01:27] robinpaulson commented on #206
This code:
https://github.com/martykan/forecastie/blob/master/app/src/main/java/cz/martykan/forecastie/utils/UnitConvertor.java

show no indication that temperature units are selected by locale.

[2017-07-06 01:32] robinpaulson commented on #166
Or perhaps better we change the decimal format, so it automatically displays the "0"; there's no need to do it manually. This is probably in "UnitConvertor.java"

[2017-07-06 01:41] robinpaulson commented on #206
martykan made some changes yesterday, they may have fixed the problem.
https://github.com/martykan/forecastie/commit/6870c154a7d7958d91ae747e723a2ae955e49696
#6870c15

[2017-07-06 05:44] nachoparker opened #217 "Option to make widget transparent"
It would be great if the widget could be transparent.

As I have it now it is blue without the option to change it. I am guessing most users will not be using a blue theme/background. ;)

Great job otherwise!

Thanks

[2017-07-07 04:56] robinpaulson commented on #217
Hi yeah, this is a dupe of #133

Please read existing issues before posting. Closing

[2017-07-07 04:57] #217 closed

[2017-07-07 06:06] nachoparker commented on #217
sorry, I did skim through all the issues, but didn't see it!

thanks again for the project

[2017-07-07 07:28] robinpaulson commented on #214
OK, looking at the file listed above, in strings.xml, I think there are two lines with the error you mention, number 19 and 20. I'll adjust those two by adding an extra space, then close this issue.

[2017-07-07 07:45] #166 closed

[2017-07-07 07:54] robinpaulson commented on #155
Reviewing the issue, I realise part of it is already fixed: the graphs have numbers on the side, the units are whatever you select in the Settings.

[2017-07-07 08:41] robinpaulson commented on #155
It appears this is beyond my leaflet skills for the time being. I've moved it from milestone 1.5 to 2.0; unless I increase my javascript skills, or someone else volunteers to do this, it may well repeatedly get pushed back.

[2017-07-07 08:50] robinpaulson commented on #206
Closing, this will appear in v1.5 in a few days

[2017-07-07 08:50] #206 closed

[2017-07-07 09:45] robinpaulson commented on #208
I think this is something @abika did in https://github.com/martykan/forecastie/commit/456fdc2a36901567d0d3f42b176b55f4da2336c0. Perhaps he has an idea how to fix it? I believe the rationale was to fit the same information into a smaller space.

[2017-07-07 10:08] robinpaulson commented on #190
Perhaps it should open the settings for Forecastie?

[2017-07-07 10:22] robinpaulson commented on #51
Some overlap with #133

[2017-07-07 10:24] robinpaulson commented on #34
We've made some small changes to the widgets recently, could you check to see if they fulfil your requirements?

[2017-07-07 12:13] logos88 commented on #34
In version 1.4.1 I only see two widgets showing the current day, but none showing various days : /

[2017-07-07 12:23] robinpaulson commented on #34
Ignore that comment, it was posted in the wrong issue. My bad.

[2017-07-07 12:52] Massedil commented on #214
Sorry for the delay.

Yes, here the space is missing.

But, there is other parts where the space is missing, you can look at this screenshot :

![27802838-7f1cdb6e-6026-11e7-8db1-7ed07ecc6218](https://user-images.githubusercontent.com/20357783/27958334-d925ef34-6322-11e7-996a-a5499f650e57.png)

But may be this cannot be corrected in the file "values-fr/strings.xml".

[2017-07-07 12:59] robinpaulson commented on #214
Right, I see. We *could* add trailing spaces in the strings-fr.xml files, after each word. That sounds clumsy though, I'm wary of doing that without thinking carefully about it first.

[2017-07-07 13:11] Massedil commented on #214
Personally, I think it's not very clean to add a space after each word in strings-fr.xml. I don't know how the other projects solve this problem.

However, in my opinion, it's not a blocking problem to leave forecatie as it is.

[2017-07-07 13:14] robinpaulson commented on #214
No, it's not clean, but what parts of human language and culture are? ;-)

I agree, not blocking, but if we can fix it we should. I'm tempted to go with the trailing spaces, but should find out what else in the app it will affect. That is fiddly and will take time,

[2017-07-07 17:41] trmendes commented on #163
I could do that but I was checking the files and here are a few questions (Java is not my main language)

1) parseresult.java -> It's just a few lines file with one enum only. What should I edit there?
2) GenereicRequestTask.java -> seems to have to url to request the json and doInBackground is calling it. As far as my main language is not java I'm not sure what is the best approach to solve it. S

[2017-07-07 19:30] abika commented on #208
See #184. I changed the clock widget for having a suitable layout for 4x1 and 4x2.

The problem is that we actually need a widget layout with own space settings each for every possible screen resolution - Android can't handle this somehow (or I'm too stupid to figure it out).
And what I can say from the screenshot of the other bigger widget (I didn't touch) is that the cloud icon is not scaled to

[2017-07-07 22:01] robinpaulson commented on #208
As far as I'm concerned it works fine, but could do with some reordering, there are big blocks of empty space.

[2017-07-07 22:12] robinpaulson commented on #163
Yes to making a separate call for UV data.

[2017-07-07 22:27] robinpaulson commented on #163
I would imagine parseresult.java is OK as is, we still have the same error condition it lists (city_not_found) with uv index as with weather.

[2017-07-07 22:38] robinpaulson commented on #163
Also, yes doinbackground calls the url, which is built by provideURL. Perhaps we need a provideUV_URL method also, called in doinbackground by a second if...then...else block, straight after calling provideURL?

[2017-07-07 22:40] trmendes commented on #163
Thanks @robinpaulson ...I think I'm on the way here :)....just gonna study the code a bit tomorrow morning and I'll come here again :)...

[2017-07-07 23:03] trmendes commented on #163
@robinpaulson I have the value already :D....now I have to change the layout to show it. It's working when I'm sharing the location. I'll do the code to work when you are looking for a city too :)...if I have time I'll send you a patch tomorrow!

[2017-07-07 23:07] robinpaulson commented on #163
If you want to push to a fork in your github, it's be great to watch as you go.

[2017-07-07 23:10] trmendes commented on #163
I'll do it tomorrow...send you a message here as soon as I'm back to the computer!

[2017-07-07 23:35] robinpaulson commented on #139
I have come to the conclusion that the easiest first step for this is to use the already existing capabilities of osmand to display weather map tiles. Osmand allows the user to specify arbitrary tiles sets and to layer those tiles over the vector maps of OSM date. Both data sets can be stored offline, the former can also be set to expire. This is accomplished by adding a .metainfo file in particul

[2017-07-07 23:38] robinpaulson commented on #139
My plan is to have a button in the "Settings" for forecastie which creates the requisite .metainfo files in the osmand tile directories. Then, the user can view and cache weather map tiles within osmand. The tiles will be automatically updated at an appropriate interval (or, this could be set manually if desired).

[2017-07-08 00:25] trmendes commented on #163
Wondering if the appkey we have have access to the UVI Index api 'cause using the samples from the documentation everything works but when I change to the api using the key in the code all I get from the server is: {"msg": "Not found"}

[2017-07-08 00:36] robinpaulson commented on #163
Hmm, can you point me to a web link for the examples you're using?

[2017-07-08 00:37] robinpaulson commented on #163
Ah: http://openweathermap.org/api/uvi

[2017-07-08 00:42] trmendes commented on #163
Yes!
So there they tell me to use:

http://api.openweathermap.org/data/2.5/uvi?appid={appid}&lat={lat}&lon={lon}

and when you click in a link from their examples it will be the almost the same link chaning api for samples

http://samples.openweathermap.org/data/2.5/uvi?appid={appid}&lat={lat}&lon={lon}

---------------------- FIRST
When I use the example:

http://samples.openweathermap.org/data/2

[2017-07-08 00:44] robinpaulson commented on #163
Have you got your own API? Perhaps when you sign up you specify which services it works for? Or, perhaps UV i paid...

[2017-07-08 00:44] trmendes commented on #163
Well...there is an APIKEY hardcoded in the source code, right?! Isn't that one a valid one?

[2017-07-08 00:45] robinpaulson commented on #163
yes, but valid for which data?

i think there are tiers of data at owm. perhaps some free, some not.

[2017-07-08 00:48] trmendes commented on #163
I was checking the prices and for the free one it should include the uvi api, no charges. Just wondering if you have to sign to to use this uvi api.

Still...gonna check it better...

[2017-07-08 02:41] robinpaulson commented on #163
Try this api.openweathermap.org/v3/uvi/-36.75,174.4/2017Z.json?appid=78dfe9e10dd180fadd805075dd1a10d6 that's the apikey hardcoded in the app. It appears to work for me

[2017-07-08 04:05] robinpaulson commented on #51
v1.5 was pushed forward; it will be available in f-droid in a few days.

[2017-07-08 13:19] trmendes commented on #163
@robinpaulson with this link you sent me I've got "message | "not found"" :(

[2017-07-11 13:31] trmendes commented on #163
@robinpaulson I'm back! Sorry for the late reply. The last few days I was busy and didn't have much time to work at this feature. I'll probably have this time tomorrow or even late today :)....I'll, now, fork your project and push the work I did at that first day we were talking to each other so you can take a look and we both can finish this so we can have this feature for everyone :). My plans a

[2017-07-11 13:38] trmendes commented on #163
If you wanna have a look this is the link: https://github.com/trmendes/forecastie/tree/feature/224

Feel free to analyze it and tell me what do you think and help me if you have the time. Like I said before, I'll work on it again late today or tomorrow!!

[2017-07-11 19:30] trmendes commented on #163
@robinpaulson Could you clone and help me to check it? It's working now buuuut for a few cities the result is 0.0. Not sure what it means (looking for an answer here). Also, you need to refresh the screen to have the value. Gonna fix it soon :)

[2017-07-11 20:45] trmendes commented on #163
@robinpaulson Fixed :)...it's now working! There is also an API to show you the polution in each city :D :D :D....shall we do it?

Please, check the brach, help me to test it and if you think it is ok I will submit a patch.

Cheers,
Thiago

[2017-07-12 00:41] robinpaulson commented on #163
@trmendes Excellent work! I'm busy at the moment, will get back to this shortly. I'm looking forward to seeing this in v2.0

[2017-07-12 00:49] robinpaulson commented on #163
Two questions though:
do you have a screenshot?
and why are threre references to "Quicklyric" in the commit log? I'm not sure what that has to do with it:
e.g. https://github.com/QuickLyric/Quic224kLyric/issues/224

[2017-07-12 00:52] robinpaulson commented on #163
I see you've also increased the build sdk from 23 to 25 (app/build.gradle). Is there any particular reason for that? I'm keen to keep it as low as possible: the app will work on more devices and be buildable using the free sdk provided by Debian (which currently on targets v23 if i understand correctly).

[2017-07-12 00:54] robinpaulson commented on #163
Setting up a circleci account for continuous testing might be useful also. Martykan has one for forecastie:master and it's been very useful

[2017-07-12 00:57] trmendes commented on #163
@robinpaulson About the reference to quicklyric. A mistake! I was helping them with a bug too and it seems like I've got the wrong link to write in the commit log. The reason I increased the build sdk is because I'm on very slow internet connection today and it was not possible to download the 23. I have the 25 here.
I'll send you a screenshot tomorrow. Is that ok? Right now I don't have my phone

[2017-07-12 01:00] robinpaulson commented on #163
Great, yes tomorrow is fine, understood about sdk versions; they are absurdly huge to download. I haven't looked in any detail at the code, merely skimmed. It appears great so far though. Keep it up!

[2017-07-12 02:43] robinpaulson commented on #214
v1.5 is out, it will fix a small number of the problems. Moving this bug to milestone v1.6

[2017-07-12 03:48] robinpaulson commented on #163
Also: yes to pollution, but let's handle that in a different issue/pull request.

[2017-07-12 03:49] robinpaulson opened #218 "Show current pollution levels"
Apparently it is available at owm

[2017-07-12 06:57] twikedk opened #219 "Bad Custom Date Format causes crash"
If I choose to enter a custom date format and the format I'm using is wrong the app breaks and won't start unless I remove the data for the app.

[2017-07-12 07:06] robinpaulson commented on #219
Do you recall what the format string was that you entered?

We should probably sanitise the inputs to prevent this.

[2017-07-12 07:13] twikedk commented on #219
Yes 'E' and 'EEE' to just show day name in week. Though I'm pretty sure I have had the same working in an earlier version.

[2017-07-12 07:15] robinpaulson commented on #219
OK, interesting. I don't think there were any changes to the date formatting code in recent versions.

[2017-07-12 07:20] robinpaulson commented on #219
Have you tried experimenting with other bad formatting strings?

[2017-07-12 07:37] twikedk commented on #219
Yes and all breaks the app, I even tried with a starting and ending " to see it needed to be wrapped inside these, no go.

[2017-07-12 10:19] twikedk opened #220 "Add completed Danish translation from Transifex"
I finished this some 4 months ago but it still haven't entered the project. Do I need to do something to make this happen? (Pull request)

[2017-07-12 13:48] trmendes commented on #163
Some Screenshots:

![screenshot_20170712-080357](https://user-images.githubusercontent.com/16507629/28120797-b2ef58a4-66de-11e7-8488-0700f398f5f7.png)

![screenshot_20170712-080330](https://user-images.githubusercontent.com/16507629/28120794-b2a92672-66de-11e7-9ff4-b13f69bc7aa8.png)

![screenshot_20170712-080223](https://user-images.githubusercontent.com/16507629/28120799-b306c3d6-66de-11e7-82f3-5

[2017-07-13 06:08] davidhedlund commented on #190
@robinpaulson Yes.

[2017-07-14 23:41] robinpaulson commented on #190
@davidhedlund Are you interested in coding this?

[2017-07-14 23:44] robinpaulson commented on #220
Oh, OK. As far as I can see there aren't any PRs we haven't actioned. Did you do the translation on transifex or github?

[2017-07-14 23:46] robinpaulson commented on #220
It'd be great to get this in Forecastie of course, from what I see there isn't currently a Danish translation.

[2017-07-14 23:56] robinpaulson commented on #220
OK, I found it on transifex. I'll see what I can do to get it in Forecastie.

[2017-07-15 00:57] robinpaulson commented on #220
I added a branch and PR for the Danish translation. Assuming all goes well with the integration checks, this will be released as part of v1.6, in about 6 weeks.

Cheers for prompting about this.

[2017-07-15 01:04] robinpaulson opened #222 "Add four completed translations from Transifex"
Apparently, the following translations are complete but not added to Forecastie:
* Turkish
* Indonesian
* Portuguese (Brazilian)
* Ukrainian

[2017-07-15 04:37] robinpaulson commented on #222
PR #223 deals with this. I will merge it in master closer to the release date at the end of August.

[2017-07-15 06:45] robinpaulson commented on #163
Excellent, looking good. Two questions:
1. Do you think this is ready to be released?
2. Is it your intention to also add forecasts for UV index? If so, will that be released at the same time as this code, or in a future release?

[2017-07-15 06:46] robinpaulson commented on #163
Ah, also:
UVI is UV Index
UVI Index is redundant....

[2017-07-15 07:05] robinpaulson commented on #208
@abika In that case, I think something has gone wrong. It appears the widget has a lot of empty space; I'm not sure why, considering the screenshots you included with the PR. I don't think you're stupid, as you say it's probably an issue with screen res and how Android deals with that.

[2017-07-15 07:08] robinpaulson commented on #190
I guess we use the same logic as we do for the home screen widget - clicking calls the Settings Activity.

[2017-07-15 13:13] trmendes commented on #163
Ops...my mistake...gonna fix it to UV Index :)

I have been using it for the last few days and so far no problems. Sometimes I got a message "Internet not working" but wondering if this a problem with my internet or the app (my internet is not good right now)....I could have a check on the code for that as soon as I have more time here!

I'm not sure if the UV Index would be useful for the week fo

[2017-07-15 13:33] trmendes commented on #163
Spelling fixed :P :)....buuuut I'm getting "To many requests" from the app right now! Is that "normal"?

[2017-07-16 04:38] robinpaulson commented on #163
"Too many requests" is common, see #182.
I think forecast for UV is useful, maybe in a later release though.
If you are concerned about testing, perhaps we do v2.0 beta? Then full release when we are confident. That will also prompt translators to help with new strings.
Martykan did most of the coding, I've been looking after the project for the last month or so.

[2017-07-16 19:24] davidhedlund commented on #190
@robinpaulson No.

[2017-07-17 14:32] juanitobananas commented on #75
@robinpaulson

As far as I can see, I already implemented this:
5cbddac309d30fdfd231f8ec71f00d659cb7820b

I am just not quite sure if I meant something else... I haven't taken a look at this since then 😄

[2017-07-17 22:30] trmendes commented on #163
@robinpaulson sorry for the late reply...tooo busy now :(....sure...I'll have a check for the UV forecast latter!!!

I'm concerned about testing :)...better...also. The API is at beta version :P :D....

I can help you somehow with a few bugs. I'll check the open issues too!! Like I said, java is not my main language but I would love to help!!

[2017-07-18 13:13] FridoDeluxe commented on #218
Just to add a bit more information, the following air pollution data is available at OpenWeatherMap currently.

- Carbon Monoxide (CO): https://openweathermap.org/api/pollution/co
- Ozone (O₃): https://openweathermap.org/api/pollution/o3
- Nitrogen Dioxide (NO₂): https://openweathermap.org/api/pollution/no2
- Sulfur Dioxide (SO₂): https://openweathermap.org/api/pollution/so2

It's currently beta a

[2017-07-18 13:33] FridoDeluxe commented on #163
Well done, nice to see this feature working so soon! I have a few ideas concerning the UV index:

1. The UV index could be optional and the user could enable/disable it in the settings. This will help to not clutter up the user interface if the user is not interested in UV (after adding air pollution the upper part of the app will become a real long list of values). If UV index is not enabled by d

[2017-07-19 04:25] robinpaulson commented on #163
@FridoDeluxe
1. is a fine point. we will release 2.0 beta and see what the feedback is after a few days of using it. i suspect you will be proved right. as for the "too may requests" message, i think whatever we do that will plague us. we need a decent way of sorting it, regardless of uv/pollution features.
2. there is merit to this suggestion too, it would indeed be consistent for instance with t

[2017-07-19 04:27] robinpaulson commented on #75
@juanitobananas
so you did. Could you take a look and decide if this closes the bug or not?

Also, @DatGizmo Could you let us know what you think?

[2017-07-19 06:28] juanitobananas commented on #75
As far as I can see, this issue is already solved.

[2017-07-19 06:32] robinpaulson commented on #75
great, closing

[2017-07-19 06:32] #75 closed

[2017-07-21 02:38] robinpaulson commented on #163
At the moment, the plan for v2.0 is the end of December. Once v1.6 is released in a few weeks, I will merge this and a few other new features (wind speed graph, pressure map, legend for maps, pollution levels) into v2.0 beta. We'll release 2.0 beta as a pre-release around September and see how it goes. Once we have fixed any bugs, I will release v2.0, which will likely be plenty before December.

[2017-07-21 02:40] robinpaulson opened #226 "Show UV Index forecast"
#163 deals with *current* UV index, this is an extension to show the forecast over the next few days.

[2017-07-21 02:41] robinpaulson commented on #163
I've split this issue into two pieces. This deals with the current levels, #226 will show forecast levels

[2017-07-21 02:43] robinpaulson opened #227 "Show pollution forecast"

[2017-07-21 02:43] robinpaulson commented on #218
Similar to #163, I'm splitting this into two issue. One for current levels, one for forecast. #227 is for the forecast levels.

[2017-07-21 03:11] robinpaulson opened #230 "Fix scoping warnings for ActivityGraph.java"
These variables:
minTemp
maxTemp
minRain
maxRain
minPressure
maxPressure
have their scope defined implicitly. They should probably be defined explicitly, i.e.:
"private minTemp = " (assuming they only require a private scope)
and so on

[2017-08-01 08:17] Massedil opened #234 "Crash report"
I think this crash has occurred when switching off the data network.

[2017-08-01 10:18] robinpaulson commented on #234
Is this repeatable, or have you only seen it once?

[2017-08-01 14:18] Massedil commented on #234
I can't reproduce the crash. It's the first time I have seen it.

[2017-08-02 02:24] deniss-s commented on #182
@erdmark
Thanks! Forecastie is usable again.

[2017-08-02 02:30] robinpaulson commented on #182
@erdmark As far as I know, no-one has done anything to fix this... It may simply be that the API key is not being overused today; the issue may well return intermittently.

[2017-08-02 15:39] Poussinou opened #235 "Copyright violation"
Hi @avjinder

I found [this app](https://play.google.com/store/apps/details?id=com.rocasoftware.weatherapp) on the Google Play Store. This guy just took your source code, added some ads in it and put it on the Store, without warning this is free software...

As you are the owner of the source code, feel free to open a request to google [here](https://support.google.com/legal/contact/lr_dmca?produc

[2017-08-02 17:59] bettina86 commented on #235
I read the licence and you don't know what you say. I don't think that the gy is violating the copyright. Gnu licence v3 give you the possibility of modify, distribuite and sell the app and obviusly give other the possibility making the same thing. That guy should be write GNU licence v3 and give the link of source code.

[2017-08-02 18:12] Poussinou commented on #235
@bettina86 YOU don't know "what you say". When publishing under GNU GPL v3, the guy who modify the app has to **publish the changes he made**, he **has to credit the original author**, and **has to add the license** or give a link to it... That's what I said "without warning this is free software" and "this guy is violating it"

Please read [the license](https://github.com/martykan/forecastie/blob

[2017-08-02 21:12] FridoDeluxe commented on #235
@Poussinou's points are valid, thanks for discovering it and creating this issue! In my opinion this app should be reported. Maybe @martykan as the repository owner should do it? If he has no time I can do it, what does @robinpaulson think?

[2017-08-03 01:58] robinpaulson commented on #235
At a quick glance it looks problematic. I will dig more, look for source code and attribution, then contact. Any help with a repo location would be appreciated.

[2017-08-03 02:02] robinpaulson commented on #235
Also, please be careful when writing and reading messages folks; text is a dreadful medium for communication, meaning is often lost, confused or misunderstood.

[2017-08-03 08:09] FridoDeluxe commented on #235
I couldn't find any source code or more information except in the app description at Google Play. The only website seems to be the [Privacy Policy](https://rocasoftware.blogspot.de/).

@robinpaulson You are right, it's probably the best to contact the developer first and ask for license/source code, give him maybe 7 days to respond and then report his app, if the issues aren't resolved.

[2017-08-04 14:02] ajzx43 opened #236 "Too Many Requests Try again"
Hello,
this "Forcastie" app is great in look but while i am trying to run this code i am getting "Too Many Requests Try again error" how can i solve this please help me.
thank you

[2017-08-04 21:56] theonetoday commented on #236
Im also having this problem. I had fixed it by enabling some access setting, but I had to reflash my ROM and I can't remember what setting it was.

[2017-08-05 06:15] robinpaulson commented on #236
#182

[2017-08-05 06:15] #236 closed

[2017-08-06 21:05] Poussinou commented on #235
@robinpaulson There is also [this one](https://play.google.com/store/apps/details?id=cz.martykan.forecastie)

Maybe you should take some time (one hour or something so) to check the other apps about weather information on Google Play Store, and report them to Google when this are just copies of Forecastie. I think some of them are just "Forecastie" with ads in it, and without GNU GPL, code source

[2017-08-06 21:29] FridoDeluxe commented on #235
I found also [Weather forecast + widget](https://play.google.com/store/apps/details?id=com.vozisov.weather) and [Forecastnow](https://play.google.com/store/apps/details?id=com.ingic.forecastnow). Both look exactly as Forecastie, but do not mention a license or provide the source code.

Did anyone report the app from the first post? It's not available at Google Play Store anymore.

[2017-08-06 21:34] FridoDeluxe opened #237 "Update Forecastie at Google Play"
I've found https://play.google.com/store/apps/details?id=com.casticalabs.forecastie on Google Play, which seems to be the official app by @martykan. Unfortunately it is version 1.2 from one year ago. I think it should be updated to the current version, so that also users without F-Droid can enjoy the newest Forecastie.

[2017-08-07 07:58] Poussinou commented on #235
@FridoDeluxe Thanks for doing this
I do not report the first one, the fake developer is probably watching this thread... If you read this, fake developer, I'll take you down :heart:

[2017-08-07 20:11] FridoDeluxe commented on #219
I tried to enter `E`, `EE`, `EEE`, `EEEE` and `EEEEE` (always without any quote signs) as custom date format and everything worked (although these five variants will produce only two different results). The app did not crash at any time. I'm using version 1.5 from F-Droid.

Then I entered something invalid and the date formate changed to `DATE FORMAT ERROR` without a crash. This seems to be the in

[2017-08-08 02:10] robinpaulson commented on #237
I don't know how the Google Play updates work and personally I'm not interested in that store - Google is a horrendous all-dominating behemoth and encouraging any use of their services is immoral as far as I'm concerned, which is why I focus on F-Droid releases. Martykan may be interested in doing this, I'll leave it with him.

[2017-08-08 02:37] robinpaulson commented on #235
Interesting, good research @FridoDeluxe
I haven't reported anything yet, it's on my todo list though.

[2017-08-08 04:22] ildar commented on #237
If update suspended by purpose, I suggest updating the description there.

[2017-08-08 04:58] ildar commented on #219
emm, @twikedk , could you supply logcat ?

вт, 8 авг. 2017 г. в 2:11, FridoDeluxe <notifications@github.com>:

--
Ildar Mulyukov,
child of God

email: ildar.mulyukov@gmail.com
GoogleTalk: ildar.mulyukov@gmail.com
blog: http://johan-notes.blogspot.com/

[2017-08-08 06:13] twikedk commented on #219
Perhaps, if you let me know how? :-)
It won't be in the next couple of days as I'm abroad, but in the saturday
I'm home again.
Could the issue respond to different Android versions? I'm running 5.1

2017-08-08 6:58 GMT+02:00 ildar <notifications@github.com>:

[2017-08-08 07:07] twikedk commented on #219
I did a test again just with an E without any quotations and it still
crashes or shutdown the application. I have installed aLogcat but i'm not
sure for now how the setup should be. I will put it in verbose and save the
file and see if I'm able to provide you with it.

2017-08-08 8:12 GMT+02:00 Ole Carlsen <ole@carlsen-web.dk>:

[2017-08-08 09:43] sinqbad opened #238 "Samsung A5 (2017) - SM-A250F Too Many Requests"
Installed from google play and fdroid and it's not working. On the bottom it says "Too Many Requests. Please Try Again". I can't set it as a widget and all the forecast data is at 0.
![screenshot_20170808-194249](https://user-images.githubusercontent.com/16450345/29066200-d6bcb864-7c71-11e7-9af5-6de3a76ca758.png)

[2017-08-08 09:47] robinpaulson commented on #238
If you scroll slightly down the "Issues" list, to #182, this has been reported already. Closing

[2017-08-08 09:47] #238 closed

[2017-08-09 08:00] CryptOwl commented on #182
Suggesting to create and and enter you own API key should be implemented ASAP. In its current state the app is unusable for the average user. I suggest some kind of creating/setup wizard when starting the app for the first time. Also, there error message for "too many requests" should be updated to reflect this.

[2017-08-11 07:01] robinpaulson commented on #182
@CryptOwl Yes, I completely agree. I'm interested in any PRs to partly or completely fix this, particularly if they implement the suggestions we've talked through above. It will be a week or two until I can do anything on this.

[2017-08-11 11:49] bettina86 commented on #235
The developer of this app [https://play.google.com/store/apps/details?id=com.rocasoftware.weatherapp](https://play.google.com/store/apps/details?id=com.rocasoftware.weatherapp) answered me that he has the permission of Castica of use partially or full the code of Forecastie and he has a Commercial Licence. I don't know if it's true.

[2017-08-11 12:59] martykan commented on #235
No, there is no commercial license. I told him he is authorized to
reproduce the app under the GPLv3 license - just like everyone else.

On Fri, Aug 11, 2017, 13:49 bettina86 <notifications@github.com> wrote:

[2017-08-11 14:35] FridoDeluxe commented on #235
The app https://play.google.com/store/apps/details?id=com.rocasoftware.weatherapp is available again at Google Play, but still neither licence nor source code I could find.

[2017-08-11 14:41] robinpaulson commented on #235
When the software is installed, what does the "About" screen show? If it is a direct copy of Forecastie, there will be the author's name, a note about GPLv3 and a link to this github repo. I wonder if that is enough, or does GPLv3 explicitly require showing the licence and author _before_ installing? I would argue anyone _should_ show that info, but it may not be required.

That assumes they haven

[2017-08-11 16:51] FridoDeluxe commented on #235
My Forecastie 1.5 About screen contains the licences for weather data and artwork, and an email link to Tomas Martykan, but no repository URL or GPLv3 of the app itself.

I installed all three known potentially fake versions of Forecastie. All of them are not a exact copies but somewhat different:

[com.rocasoftware.weatherapp](https://play.google.com/store/apps/details?id=com.rocasoftware.weather

[2017-08-12 01:50] robinpaulson commented on #235
@fridodeluxe perhaps we should add a repo link and see what happens next release?

[2017-08-12 02:28] icasdri commented on #235
com.vozisov.weather is unquestionably in violation. Based solely on the screenshot given by @FridoDeluxe  above, it is a derivative work without any chance of full source code due to the inclusion of ads from ad networks which do not have open source licenses.

Furthermore, I would infer mal-intent from changing the author in the About, and therefore would be in favor of just filing DMCA takedown

[2017-08-12 04:29] robinpaulson commented on #235
@icasdri I think you're right and there's little doubt this is unintentional. I have code in Forecastie too, go for it with the takedown. I think an attempt at diplomacy/discussion will likely go nowhere/waste time.

[2017-08-12 18:07] FridoDeluxe commented on #235
Feel free to file a takedown request. But generally I'm personally in favor of the diplomatic way, in doubt the accused person might have just forgot to link the source code. Unfortunately a takedown request at a big company like Google starts a rather automatic and intransparent process that leaves almost no possibilities for the involed parties to react accordingly ([similar things happend to th

[2017-08-12 22:24] icasdri commented on #235
@FridoDeluxe only problem with the case of com.vozisov.weather is that they can't possibly link to the source code because they are distributing a derivative work that contains closed-source ad software (and forecastie is GPL not LGPL). I will file DMCA for at least com.vozisov.weather (unless @martykan, who is better suited, would like to) when I find the time.

[2017-08-13 13:10] stemy2 opened #239 "Too much requests, please try again."
Hello,

I can't obtain any weather info from the app, just an error message when i try to update: Too much requests, please try again.

[2017-08-13 13:22] Lemmiwinks commented on #239
Having the same problem!

[2017-08-14 00:50] robinpaulson commented on #239
#182 #236 #238

Closing

[2017-08-14 00:50] #239 closed

[2017-08-14 00:55] robinpaulson commented on #235
@icasdri
Is it *necessarily* derivative, or is there any possibility it is mere aggregation?
I believe (but may be wrong) that if there are no calls between the two/reworking of forecastie code, it is not a derivative. For instance, could the ads be an overlay which ignores forecastie data/layout?

[2017-08-14 06:52] stemy2 commented on #239
Why did you closed the subject without any explanation ? Will it be an upgrade or you will do nothing ?

[2017-08-14 07:17] ildar commented on #239
He gave enough references to understand:
1. The issue is known.
2. The issue is discussed elsewhere.
3. This issue has no useful information that's unavailable in other issues.

Also my 5 cents: please look around in other issues before opening another.

[2017-08-15 01:45] Nutomic commented on #182
Has anyone tried to contact Openweathermap to ask for a free upgrade, seeing as Forecastie is an open source project?

If that's not possible, I'm sure you could collect enough donations to fund the startup version (40usd/month, 600 calls/min).

[2017-08-15 04:16] dvillareal22 commented on #182
The solution for this is to create a dialog box for the first run/detect if
sharedpreference doesnt have api key then the user should need to register
his/her account on openweather. On the dialogbox we should put the
directlink to register and generate account on openweather website.

On Tue, 15 Aug 2017, 9:45 am Felix Ableitner <notifications@github.com>
wrote:

[2017-08-15 04:35] icasdri commented on #235
@robinpaulson that would be the case if it were distributed separately. However, the code for ads and the app itself is bound together in one APK, and more specifically *linked* together (in the Java sense). Forecastie does not have the linking exception; therefore, under the GPL, I believe it does qualify as derivative (although IANAL).

[2017-08-15 04:49] icasdri commented on #235
I think a basic understanding of the situation can be gleaned from https://www.gnu.org/licenses/gpl-faq.en.html#GPLIncompatibleLibs.

*tl;dr*, if we had wanted the combination of Forecastie and non-free libs (in this case libraries providing ads) to be legally distributable, we would have had to explicitly grant an exception, which we have *not* done, and so they are not.

The only case where they

[2017-08-15 05:21] robinpaulson commented on #235
That's my point, is it *necessarily so* that they are linked? Is it possible they are not?

I agree if they are linked it is an obvious violation of GPL, my question is whether they are linked or not.

Yes, they are in one apk, but could that be seen as "mere combination" - after all, an APK is a zip archive and does not have to mean there are any calls between the included pieces of software? To

[2017-08-15 06:08] ildar commented on #235
Single classes.dex file → linked ?

[2017-08-15 06:15] robinpaulson commented on #235
OK, that's a good response. I don't understand the internals of a .dex file. I will research and find out.

[2017-08-15 06:16] icasdri commented on #235
As I understand it, it can only be called an "aggregate" (defined in Section 5 of the GPL) only if one can claim that the ads and vanilla forecastie are *two separate programs*, as opposed to *one larger program*. (per Section 5: `A compilation ... with separate and independent works ... and which are not combined with it such as to form a larger program ... is called an "aggregate"`).

Supporting

[2017-08-23 09:09] erdmark commented on #182
I could write a simple proxy server which caches results of the requests for some time so there are no double requests to owm. I already asked owm, that is allowed.

[2017-08-23 17:45] ramack commented on #182
I guess this will not give a big benefit, as the users are probably located in many different locations. And also the cachable time is limited, as we are not interested in reading yesterdays news ... ahh weather...

[2017-09-03 09:15] robinpaulson commented on #190
It appears #240 fixes this

[2017-09-03 09:16] davidhedlund commented on #190
@robinpaulson Thanks.

[2017-09-03 09:22] SpiritCroc commented on #190
@robinpaulson it fixes click action on the widget on homescreen, but it doesn't add a settings action

[2017-09-04 16:21] erdmark commented on #182
Proxy server is up and running, instructions at trafficpixel.tk/data
Actually not re-requesting data from owm if last request for that location isn't older than 1000 seconds.

[2017-09-08 00:42] robinpaulson commented on #182
@erdmark I've been thinking over this for a while. My first conclusion was: what's the point, we can merely disallow frequent updates in the forecastie code. Then I realised your code will assist in the situation where there are multiple users in the same locale. This is a win, particularly if everyone uses it. The problem is, it partially centralises access to the data, it funnels everything thro

[2017-09-21 05:42] gappleto97 opened #242 "Add precipitation chance"
Right now it says that rain *will* or *will not* happen. It would be useful if it also said whether rain was *likely* to happen. Like it could say "light rain (<0.01 in, 30%)"

[2017-09-21 05:45] #242 closed

[2017-09-29 14:25] bolbishvili commented on #183
I am in Williamson County, Illinois. Forecastie shows my location as "Williamson County, US" and gives me weather information for Williamson County, Texas.

If I search for location "Marion, IL" then it gives me correct weather information (displaying it as "Marion, US")

[2017-09-29 18:37] realmain opened #243 "Unable to update weather"
As of 26 Sept 2017, Forecastie hasn't been able to update the weather information. I've tried it on multiple devices, clearing data/cache, reinstalling.

It keeps saying:

**Too many requests. Please try again.**

Running ver 1.5

[2017-09-29 21:40] cmesoar commented on #182
Agree with the gist of this thread...I just installed for the first time, it took nearly 4 hours to load map/data, but would never populate a forecast with the "too many requests" error. Got an API key and all good now. Agree that is not a way to easily attract/retain general users though. I like the idea posted above of an initial dialog box for the first run which then captures their email (can'

[2017-09-30 02:05] robinpaulson commented on #243
#182

[2017-09-30 02:05] #243 closed

[2017-09-30 05:02] realmain commented on #182
In the OpenWeatherMap [FAQ](https://openweathermap.org/faq), it says:

**For FOSS developers:** we welcome free and open source software and are willing to help you. If you want to use OWM data in your free software application please register an API key and file a ticket describing your application and API key registered. OWM will review your request lift access limits for your key if used in ope

[2017-09-30 20:34] ramack commented on #182
@realmain that sounds interesting. Would you like to investigate?

[2017-09-30 21:35] realmain commented on #182
I have submitted a request to get an API access limitation lifted for Forecastie. I will provide an update after I receive a reply.

[2017-10-01 20:48] abendebury opened #244 "Forecastie uses huge amounts of battery"
Even when not opening it, on my moto X forecastie has used 39% of my battery in just a few hours, using more than my screen.

[2017-10-01 21:18] realmain commented on #244
Strange. I haven't come across that issue before. Try turning off the background refresh in the settings.

[2017-10-01 21:26] realmain commented on #237
It is also advertised on http://castica.tech to download this app via Github or Google Play (No F-Droid?). I for one agree that if there will no longer be updated on Google Play, it should be added to the description.

Though, keeping it updated on Google Play would allow more exposure for this app.

[2017-10-02 05:22] robinpaulson commented on #244
Where did you install it from? There are a number of rip-offs which include ads and who knows what else.

[2017-10-03 04:30] abendebury commented on #244
Installed from google play. Will try turning off background refresh and will see if that helps.

[2017-10-03 05:52] realmain commented on #244
Forecastie has been outdated for a year on Google Play. Try downloading from F-Droid (recommended) or Github.

[2017-10-03 16:42] realmain commented on #182
@robinpaulson

Do you have an answer to these questions (for OpenWeatherMap)?

*Could I ask how many users are using your applications?

What time of the day your app experiences the greattest load?*

[2017-10-04 17:01] twikedk commented on #219
I just tested today to follow up on the issue and  my first test was negative. Then I cleared the cache and erased app data, the same way I did all the previous times, but this time I also forced the app to shut down and now everything seems to work fine again. I'm now able to use custom dates.
Sorry for any inconvenience it may have caused.

[2017-10-04 17:01] #219 closed

[2017-10-04 18:02] realmain commented on #237
#244 is an example of an issue that can happen to users regarding this.

[2017-10-05 01:26] robinpaulson commented on #244
I've been using forecastie for nearly two years, never had battery issues. I'm slightly doubtful it's due to the older version on gp.
"Outdated" is not a code word for "bad"

[2017-10-05 01:27] robinpaulson commented on #219
No inconvenience, this was a valid bug. Great it works now

[2017-10-05 03:16] realmain commented on #201
If we are able to solve #182 with a unrestricted API Key, this would no longer be needed.

[2017-10-05 03:30] realmain commented on #182
Email from [OpenWeatherMap](https://openweathermap.org/):

"_Could I ask how many users are using your applications?

What time of the day your app experiences the greattest load?

We will consider raising your limits if you provide the above info._"

@robinpaulson @martykan Do either of you or anyone have the answers to these questions so that I can reply to them?

[2017-10-05 04:41] robinpaulson commented on #182
I don't have access to that. Maintainers of fdroid will have a rough idea of installs. Only owm will know details of data requests....

[2017-10-05 04:42] robinpaulson commented on #182
Numbers of downloads from fdroid might be published on the site.

[2017-10-05 16:49] Nutomic commented on #182
F-Droid doesn't have any download stats, for privacy reasons. But @martykan should have download numbers from Google Play (5,000 - 10,000 according to the store site).

[2017-10-05 18:10] realmain commented on #182
Reply to OpenWeatherMap has been sent. Now we wait for their reply.

[2017-10-10 19:02] realmain commented on #182
Reply from OpenWeatherMap:

_You have been provided the functionality of the Startup plan for 1 year._

_We will be monitoring your application usage._

_Please respect all rules of FOSS projects._

_Please check it and confirm._

_Thanks for understanding._

_Best Regards,_
_Gushcho Maxim_
_Technical Support Engineer_
_OpenWeatherMap inc_

**The registered API is:**
**3e29e62e2ddf6dd3d2ebd28aed06

[2017-10-10 19:23] ramack commented on #182
oh, this is good news. Thanks for caring about it.
Removing the specific API key option is probably not a good idea, because what happens in 1 year? Do we know? -> I wanna keep my personal (free) API key.

[2017-10-10 19:55] realmain commented on #182
Yeah, leaving the personal API key option would be best.

After 1 year, if the app is still active, they'll renew the API (probably upon request). If they see us get a lot more users (since they will be monitoring us now), they'll potentially upgrade our subscription.

[2017-10-10 22:29] robinpaulson commented on #182
Hey this is great @realmain , I'll add it to the code. It's stored in the file keys.xml.  we'll keep the option for custom keys for now.

[2017-10-19 14:31] frankFic opened #246 "Run some AsyncTasks in real multi threads?"
Hi,

Background tasks scheduled by AsyncTask.execute() will be run on the same background thread after Honeycomb, API 11. ([see the doc](https://developer.android.com/reference/android/os/AsyncTask.html#execute(Params...))). I found that in [AlarmReceiver](https://github.com/martykan/forecastie/blob/d2cc2eb351f58498e8fdb0c5cf955fcdc2239f34/app/src/main/java/cz/martykan/forecastie/AlarmReceiver.jav

[2017-10-25 15:40] realmain opened #247 "Request: Option to show both °F & °C"
I feel like it'd be nice to be able to show both °F and °C at the same time. I've been in so many situations where I needed to use both at the same time.

[2017-10-25 15:42] realmain opened #248 "v1.6 ETA"
Do we have an ETA on v1.6?

It'd be nice to get a version with the new default API key out :)

Would make it more usable for casual users who do not know how to check GitHub issues for the API Key info.

[2017-10-26 04:42] robinpaulson commented on #248
The short answer is that I've been slack on fixing the bugs in the v1.6 milestone.

The longer answer is if I move some unfixed bugs to v1.7 and v2.0 and some fixed bugs to v1.6, it's probably worth a release in the next week or so. I'll aim for Friday next (3rd November).

[2017-10-26 04:43] robinpaulson commented on #247
Hmm, that would require a bit of rejigging in the UI. It sounds interesting, but is more likely if someone were to provide a PR.

[2017-10-26 04:46] robinpaulson commented on #246
Interesting suggestion. My first response is to wonder whether the difference in time would provide any meaningful benefit. That said, it feels like a more elegant way of handling the requests for data.

I doubt I would get round to it, do you think this is something you'd have the time and skill to do? If so, it'd also certainly be included.

[2017-10-26 04:48] robinpaulson commented on #244
This is hard to diagnose without reports from more users and/or logcat output with some error messages. I'll leave it open for now, but it's unlikely to go anywhere without that.

[2017-10-26 08:39] frankFic commented on #246
Sure, I will try to submit a pull request later.

[2017-10-30 02:15] thomasaiman opened #249 "option to draw multiple graphs on the same axes"
I think that condensing the temperature, wind, and rain graphs into a single chart is a great way to display forecast data in the space of a single screen. Having annotated values on the charts may also be helpful. Here's an example of an app that does this:
https://play.google.com/store/apps/details?id=com.nstudio.weatherhere
![noaagraph](https://user-images.githubusercontent.com/32423251/3215169

[2017-10-30 08:52] robinpaulson commented on #249
yes. not any time soon though. perhaps you would be prepared to do some coding?

[2017-10-30 16:32] thomasaiman commented on #249
I'll put it on my to-do list, but it probably won't happen any time soon haha

[2017-10-31 23:47] robinpaulson commented on #246
Marvelous! I'll take a look at the code, i might have to ask someone else to review too. Then we can merge it.

[2017-11-02 06:52] dennisguse opened #251 "If the API key is invalid: results in "There is something wrong with your Internet connection"."
Yesterday, I changed my API key and missed one digit.
As a result, Forecastie complained that "There is something wrong with your Internet connection" with a Toast message.
This message was not really helpful.
Correcting the API key, fixed my issue.

Probable solution:
I think that the parsing  of the response is too generic.
On invalid API key, OpenWeather reacts with HTTP 401
`{"cod":401, "messa

[2017-11-03 02:34] robinpaulson commented on #251
Yes, this is a problem. I saw it last week, but didn't think to put it here. Well spotted.

We should update the text, something like:
"The API key you entered is wrong, please check and try again"

Suggestions for modification to that text please.

[2017-11-03 21:12] realmain commented on #251
"Current API key is invalid, please try again."

Nice and simple

[2017-11-03 21:12] realmain commented on #248
Are we still looking to release v1.6 today and push some other unfixed bugs to v1.7?

[2017-11-15 12:18] kabilzamandar commented on #235
I've built a weather forecast app, and came across Forecastie and i may use some part of the Forecastie code, i have my layouts, icons and other assets,  i need just few java classes. If/when i use some of the classes of the original code, does this mean i should open-source all of my app? I will distribute my app as  closed-source commercial app. I read GNU GPL v3 license but frankly i didn't get

[2017-11-15 13:03] ildar commented on #235
1. You should read GPL FAQ at gnu.org
2. I'm almost sure libexif isn't GPL but LGPL

[2017-11-15 14:09] carminemassarelli opened #253 "rain map not working"
I use my api key but the rain map is not working.
I have forecastie 1.5 on lineageOS 14.1.
Is it a issue of the android version?
many thanks

[2017-11-16 10:45] FridoDeluxe commented on #235
@kabilzamandar On top of https://github.com/martykan/forecastie/blob/master/LICENSE is a small info box provided by GitHub that explains briefly what GPL means. Apart from that this issue is about the existing copyright violations and probably not the right place to discuss licencing plans.

[2017-11-16 11:19] FridoDeluxe commented on #253
I can confirm this behavior. When trying to download the image tiles from the rain map I received HTTP response code 500, while temperature and wind were still working. Comparing the code of [map.html](https://github.com/martykan/forecastie/blob/a1e6359d327d863c662974cd9de6ac166f01954a/app/src/main/assets/map.html) the with OWM's [Weather map API](https://openweathermap.org/api/weathermaps) there

[2017-11-18 16:40] carminemassarelli commented on #253
I think it is not working this server link
http://{s}.maps.owm.io:8099/57b58d2a946d8a0100852aef/{z}/{x}/{y}?hash=d454ac88526eca77574f7d9c24a50efa

[2017-11-22 12:27] nazar-pc commented on #251
I have "There is something wrong with your Internet connection" with valid API key that worked fine before. Also I've issues another key and having the same issue.
Have you experienced this?
Also 1.5 from F-Droid.

[2017-11-27 17:19] wohali commented on #251
I'm having the same thing as @nazar-pc for about the same number of days now. Weather hasn't updated since middle of last week, and I keep getting "There is something wrong with your Internet connection." Checked that my key is valid, too.

[2017-12-09 08:26] flocke commented on #251
Yeah, I got the same problem with a valid API key as well. What I noticed is that it only happens when I search for locations with Umlauts (äöü) in them. Everything else seems OK.

[2017-12-09 08:33] flocke commented on #251
I just tried to search the same location on the OpenWeatherMap site directly and it was not found either. So at least my problem seems to be an issue on OpenWeatherMaps side.
But nevertheless the error messages should be improved.

[2017-12-09 08:34] nazar-pc commented on #251
Interesting, hyphen `-` also causes issues, while name with only Latin characters is fine

[2017-12-16 05:13] Nutomic commented on #248
Is this app still being developed? There are lots of open PRs, and no new commits in the last 5 months.

@robinpaulson @martykan

[2017-12-18 15:27] flocke commented on #251
It appears OpenWeatherMaps fixed the issue. I can now successfully search cities with Umlauts again. Could someone else confirm this?

[2017-12-18 15:34] ramack commented on #251
seems to work for me.

[2017-12-24 09:22] azlux opened #254 "Transparent widget"
Hi.
I love this app so I have a suggestion.
Can you make the widget background transparent ?
On opaque color can be a little bit aggressive.

Thank for your work !
Az

[2017-12-24 10:05] ildar commented on #254
We all love this app. But there's noone to work on it.
https://github.com/martykan/forecastie/issues/186

[2017-12-24 11:58] azlux commented on #254
Ho sorry, I didn't see that issue. I only search on open issues.

[2017-12-24 18:47] realmain opened #255 "Forecastie Abandoned?"
It doesn't seem like Forecastie has been updated in a long time. Either someone needs to be allowed to take over the project or someone might have to fork it.

It's saddening because this is the BEST weather app in my opinion :/

[2017-12-25 21:02] robinpaulson commented on #255
A long time? Remind me when the last release was. And stop exaggerating.

[2017-12-26 00:09] realmain commented on #255
The last release was v1.5, released on 7 July 2017. Last commit on GitHub was 14 July 2017.

I am just saying, if there is someone who can be added to be able to help provide the edits and approve pull requests (not me), it'll be faster development, since it's obvious that you are busy with your personal life too.

#248 you said that you'll aim for a 3 Nov release. And @Nutomic asked if the app is

[2017-12-26 01:54] #220 closed

[2017-12-26 01:54] #222 closed

[2017-12-26 01:55] #190 closed

[2017-12-26 01:56] #182 closed

[2017-12-26 01:59] robinpaulson commented on #248
@realmain
I don't know what "looking to" means.

@Nutomic
Yes, of course it's still being developed. 5 months is not a long time. It's just a weather app.

[2017-12-26 01:59] #248 closed

[2017-12-26 01:59] #255 closed

[2017-12-26 02:01] #254 closed

[2017-12-26 02:13] robinpaulson commented on #253
@carminemassarelli @FridoDeluxe
Cheers for working on this; would one of you be able to put together a pull request?

If not, is it as simple as replacing the lines as detailed in the comment above?

[2017-12-26 02:15] robinpaulson commented on #251
New release 1.6 will partly fix this, but we should provide a more precise error code. I have a feeling there is currently a single error code for more than one problem. Any idea how to split them into two so we can provide a useful, different, response for each?

[2017-12-28 10:58] carminemassarelli commented on #253
@robinpaulson @FridoDeluxe
I have created a pull request in a fork because i do not have permission to write in the master.

[2017-12-29 02:49] robinpaulson commented on #253
@carminemassarelli
Marvellous. v1.6 will be out in a few days. As this patch is to fix broken functionality, I'll release v1.6.1 soon after, once we can see how v1.6 is going.

[2017-12-29 04:02] trmendes commented on #163
Hi there. Can we start to work at this feature again? Is this app still being developed?

[2017-12-29 17:28] #246 closed

[2017-12-29 18:11] realmain commented on #237
Per Martykan:

[2017-12-29 18:37] martykan commented on #237
Done. I'll try to publish new releases more promptly in the future.

[2017-12-29 18:37] #237 closed

[2018-01-02 18:51] #253 closed

[2018-01-03 11:51] twikedk opened #257 "Display decimal zeroes"
Version 1.6.1

If I check 'Display decimal zeroes' I get temperature values from -1 to 1 shown as -,3 or ,4 but if I unchecked it they are shown as I would expect them to be -0,3 or 0,4

[2018-01-03 22:35] icasdri commented on #247
Hi. I've been wanting to revamp the entire unit display system for a while now. I'll keep this in mind if I get the time to PR.

[2018-01-03 22:57] realmain commented on #247
@icasdri

What might be easier is to have an easy toggle on the top for: **Imperial** & **Metric**.

[2018-01-04 01:32] troyengel opened #258 "If OWM city data changes: results in "There is something wrong with your Internet connection""
At some point in the past when setting up Forecastie, I had my city - San Antonio, TX, USA - configured. A little while ago (not sure how long, I wasn't actively paying attention - maybe 2 months?) it appears OpenWeatherMap changed their metadata to simply "San Antonio, US" now that I've debugged it. There are now 5 results, Forecastie just picked the first one it seems (good thing that's what I n

[2018-01-04 01:46] troyengel opened #259 "Feature: allow picking City when multiple results available w/o GPS"
For some cities there are multiple results when searching by text name, like this example:

* https://openweathermap.org/find?q=san+antonio%2C+us

Forecastie appears to just pick the first one in the list, we should present the user a popup to choose which one. This is difficult visually, because the OWM data doesn't appear to list Locality (State, e.g.), they simply rely on Geo coordinates that a

[2018-01-07 13:12] igor-cali opened #262 "Location is shown in English instead of locale name"
My device is set in Italian language.
In the widget location is shown in English ('Turin, IT'). It should be shown in the correct locale ('Torino, IT' as per the location in my example).

Thanks!

[2018-01-07 21:52] dsschnau opened #263 "Automatically detect user information on app start"
Hi.

I just installed this app (1.6.1 from FOSS Droid store) and it showed me the weather for London, GB. I don't live anywhere near London.

Is there a reason it is the way it is right now?

I would expect the app to ask permission for my location then show my current location on first run, and be able to configure specific places later.

[2018-01-08 06:57] martykan commented on #262
Unfortunately OpenWeatherMap only provides city names in English. So this is not possible at the moment

[2018-01-08 10:10] igor-cali commented on #262
Thank you @martykan ,
this sounds strange, since looking to the website the city name is in the original Italian name ([city link](https://www.openweathermap.org/city/3165524)).
Thanks for your further clarifications.
Regards,
igor

[2018-01-11 13:51] blacklight447 opened #264 "Support for Tor in forcastie"
I think it would be very nice to add an option to route forcasties traffic thru tor for users that like privacy. This should be fairly easy to do, you would only have to redirect forcasties traffic too 127.0.0.1 on either port 9050(for SOCKS) or 9040(for transparent proxying). so that it can be be used with the tor projects android app, orbot. What do you guys think?

[2018-01-16 17:08] bedaro opened #266 "Detect Location pulls up the wrong city with the same name"
Hi,

In version 1.6.1, if I use "Detect Location" from Northeast Seattle, WA (zip 98115) right across the lake from Kirkland, WA, the app detects my location as Kirkland probably because of the cell tower. The issue, possibly related to #259, is that the weather being shown after my location is detected as "Kirkland, US" is clearly not what's happening in Kirkland, WA (yesterday it said it was sno

[2018-02-12 17:46] gappleto97 opened #267 "Request: Favorite location list"
It would be nice if I could have a list of different places, so I could see the weather where my family is more easily.

[2018-02-18 07:47] SergeySharipov opened #268 "Data disappears after rotation"
Weather data of main screen disappears after rotation.
If you have internet connection, you can refresh them.
If you have't internet connection, you can't refresh. And also you can't view cached weather data.

[2018-02-28 21:16] Poussinou commented on #235
Guys, there is another one [here](https://play.google.com/store/apps/details?id=com.mekayazilim.weatherforecast)...

[2018-03-07 07:23] aershov24 commented on #163
Hey guys, just let you know there is a dedicated API for Real-time UV Index, Hourly Forecast and other Sun Safety information: www.openuv.io.

[2018-03-07 09:43] trmendes commented on #163
@aershov24 thanks for sharing. I'm going to code this feature again soon and send a new PR.
@robinpaulson Do you still a mainteiner of this project?

[2018-03-08 23:26] splitowo commented on #203
Hi there,
I have removed the WebView and put the text directly as a dialog message. The string is relocated to strings.xml.

https://github.com/splitowo/forecastie/commit/ea81b878f288c5da12e9270b31d731aa60d1403b

I couldn't reproduce #202, the links always opened in the browser for me, but if there is no longer WebView, this should be resolved, I suppose.

Below is the comparison after(London) and

[2018-03-09 21:37] Allen-B1 opened #272 "System date formats"
Android provides [`DateFormat.getDateInstance()`](https://developer.android.com/reference/java/text/DateFormat.html#getDateInstance(int))

[2018-03-28 01:45] chreekat commented on #266
Came to report the same thing. Brooklyn, NY

[2018-03-28 01:48] chreekat commented on #266
You can see what city it thinks you're in by going to the weather map, btw.

[2018-04-12 11:34] calbee633810 opened #274 "WebView disappear after device rotation"
Click About in the menu, wait until the WebView shows. Then rotating screen makes the WebView disappear. It may not be a bug but the app can be more professional and user experience can be increased if WebView can persist after device rotation.

![screen shot 2018-04-12 at 7 30 32 pm](https://user-images.githubusercontent.com/38213896/38674725-04a3a0fc-3e88-11e8-9986-50c05decdb2c.png)
Screenshot b

[2018-04-12 11:41] calbee633810 opened #275 "Weather map location lost after device rotation"
Open weather map, scroll the map to another location, say US. Then rotate screen, the location return back to the very beginning location when open map. Location should persist after rotation.

![screen shot 2018-04-12 at 7 39 44 pm](https://user-images.githubusercontent.com/38213896/38675125-52b497b4-3e89-11e8-96b1-8862a07e4af2.png)
Screenshot before rotation

![screen shot 2018-04-12 at 7 40 04

[2018-04-20 01:37] ildar opened #276 "intercept OWM URLs"
As Forecastie shows the same weather info that's on OWM site I think it's worth adding intent for URLs like https://openweathermap.org/?q=Almaty%2C+KZ to show the into in the app.
Thanks!

[2018-04-22 14:11] h-theLetter commented on #266
Same issue here. It seems to return the first matching city with the same name from OpenWeatherMap.

[2018-04-26 12:09] raj8980 opened #277 "Don't open layout activity_scrolling and setting_toolbar"
I use your project same as but not open a layout . It show the blank white page .
my dependencies is :
dependencies {
    compile fileTree(dir: 'libs', include: ['*.jar'])
    testCompile 'junit:junit:4.12'
    compile 'com.android.support:appcompat-v7:23.1.1'
    compile 'com.android.support:design:23.1.1'
    compile 'com.android.support:support-v4:23.1.1'
    compile 'com.android.support:cardvi

[2018-04-28 14:13] raj8980 commented on #277
![prob1](https://user-images.githubusercontent.com/38714169/39397399-3b12d824-4b1c-11e8-90d7-29c4008000c4.PNG)
![prob2](https://user-images.githubusercontent.com/38714169/39397409-7163fc8c-4b1c-11e8-9af5-b02e77ba6578.PNG)

[2018-05-10 11:15] arucard21 commented on #133
I created a custom APK with the widget background set to transparent. This is a bit of a workaround until this theming functionality can be implemented, which is obviously the better solution. I just set the background of all 3 widgets to transparent. The text is still white so obviously this only works with dark wallpapers. It may not be useful to others but since I already created it for myself,

[2018-05-11 14:05] arucard21 commented on #133
With PR #278 the widget should now be styled according to the theme chosen in the app. It also adds a setting to make the widget transparent. So if that gets merged, this can probably be closed.

[2018-05-13 19:15] twikedk opened #280 "Danish translation updated/reviewed (Transifex)"
Just information about the actual da_DK translation status

[2018-05-19 04:42] mic-may opened #281 "FAQ page"
Greetings, I love your project and I am willing to write a FAQ page on it, kindly let me know if I should go on with it or not.
Thanks.

[2018-05-19 20:06] ahyar92 opened #283 "Weather maps "Wind" and "Temperature" encountered an error in landscape mode"
#### Expected behavior
Supposedly, weather maps effects "Wind" and "Temperature" can be seen in landscape mode.

#### Actual behavior
When I go into the "Weather Map" feature and be in "Wind" weather. While in portrait mode, the wind effect works well, but when I change the rotation to landscape mode, suddenly weather map "Wind" does not work. And the same thing happens when viewing weather map "T

[2018-05-27 03:16] teneresa opened #284 "Logo design proposal"
Dear Sir/Madam,
hi, my name is Valeria. I'm a graphic designer and I'd like to collaborate on your open source project and to propose free icon/logo design. If it's something you're interested in, please, let me know!

Best,
Valeria

[2018-07-29 21:39] Aeg0nTargaryen opened #285 "App being sold on codester"
Hi, i'm unpleased to inform you that your app is being sold on Codester for 59$,
check yourself [https://www.codester.com/items/6944/sunshine-android-app-source-code](url)
The only problem that Codester does not protect copyright they say " Ownership of Products remains with the Seller ".

[2018-07-30 09:21] martykan commented on #285
I will contact Codester about it, I checked their help page and this is
definitely against their policy.

On Sun, Jul 29, 2018, 23:39 Aeg0nTargaryen <notifications@github.com> wrote:

[2018-08-13 13:00] andrei91ro commented on #251
The issue that @nazar-pc  noted is still happening on version 1.6.1 also with a valid key.
From what I see in the source code, the app does not differentiate between error codes received from the API.
Maybe we should create a mapping between OpenWeatherMap error codes and ExceptionIDs and also a mapping between ExceptionsIDs and Exceptions Error messages.
That way, all IFs would be avoided.

Also,

[2018-09-12 08:30] brortao opened #287 "Custom date format causes crashes"
If you enter a custom date format, Forecastie crashes. Whenever you open the settings page to change it back, it crashes again. The only fix is to reinstall the app.

The date format I used was `%E %y-%M-%D %H:%m`. Maybe the percent symbols caused the bug, I'm not sure.

[2018-09-26 15:31] KonstiPation opened #288 "Wrong country for Aachen"
On Android, with Forecastie version 1.6.1 installed from fDroid, when selecting Aachen as the location the country displayed is Belgium.

[2018-09-26 17:59] martykan commented on #255
@dimqua Honestly it is kind of abandoned. I plan to do a big revamp with v2, but I haven't got around to it yet, I'm really busy with work and don't have much free time for opensource

[2018-10-01 17:44] hugomg commented on #287
I also get crashes after changing to a custom date format. I used `EEEE MMMM dd`.

After I configured a custom date format, the app widget stopped working (shows a blank blue rectangle only) and trying to launch Forecastie via the widget crashes the app. Launching Forecastie via the app icon still worked though (and the custom date format is applied correctly in this case)..

[2018-10-01 18:05] hugomg commented on #287
After inspecting the source code, it seems that at least in my case the crash is due to the behaviour in [line 69](https://github.com/martykan/forecastie/blob/3ea4472b99d03aa5511e4bd50f65d21a55f739f6/app/src/main/java/cz/martykan/forecastie/widgets/TimeWidgetProvider.java#L69) of TimeWidgetProvider.java:

    dateFormat = dateFormat.substring(0, dateFormat.indexOf("-")-1);

Apparently, Forecastie

[2018-10-16 18:56] Narrat commented on #182
Got the status revoked?
The default API key produces this error again. At least for me

[2018-10-28 19:27] apteryks opened #292 "Can't load any data anymore (since 26 of October 2018)"
I get the "There is a problem with your internet connection" message that pops at the bottom of the app anytime I try to refresh the data.

I thought that maybe the API key of Forecastie had expired, so I created an account at openweathermap.org and got a fresh API key that I tried using, but the result is the same.

Any idea what could be going on?

[2018-10-28 19:40] Apteryks commented on #292
This appears related to #258 - what triggered the error was me searching for the Japanese city 'Fukuoka'. Apparently when the city isn't found, the error "There is a problem with your internet connection" is displayed (instead of something more reasonable like: "No city found").

I reseached for the city which worked previously ('Montreal') and it started working normally again.

[2018-10-31 07:02] hockdudu commented on #288
I would say that's because the data from OpenWeatherMap also states that Aachen is on Belgium ([example](https://openweathermap.org/find?q=aachen)). You can input "Aachen, DE" on the search field and the correct name should appear.

[2018-11-22 20:52] Gitsaibot opened #293 "Feature Request: Merge open Pull request in a timely manner"
I know this is a free time project and I appreciate your work on this. On the other hand, people who make pull requests also invest time. To let them wait longer than half a year is not really encouraging and prevents further pull requests. I run my own version with the changes included and the app run great. So why not let everyone benefit from it?

[2018-11-22 21:55] martykan commented on #293
I'm sorry, you're very right. I've been very busy with work for the past year and I wasn't keeping up with the project. I'll go and merge them now

[2018-11-22 21:55] #293 closed

[2018-11-25 10:02] arucard21 commented on #176
This seems to be fixed in the latest release (v1.6.2, but probably already fixed earlier than that). So this issue can be closed.

[2018-11-25 10:08] arucard21 commented on #163
This seems to be included in the latest release (v1.6.2). It was merged from #282 with some earlier work discussed in #245. So this issue can be closed.

[2018-11-25 10:11] arucard21 commented on #133
This is included in the latest release (v1.6.2). So this issue can now be closed.

[2018-11-25 10:13] arucard21 commented on #51
As mentioned before, a 2x1 widget was made available a while ago. And with the latest release (v1.6.2) the widget can now be made transparent as well. This seems to cover almost everything mentioned in this issue so it can probably be closed. If any other improvements are still wanted, it would be better to create a new issue for that.

[2018-11-25 11:05] #51 closed

[2018-11-25 11:07] #163 closed

[2018-11-25 11:11] robinpaulson commented on #257
@twikedk Is this fixed for you now?

[2018-11-25 11:14] robinpaulson commented on #288
I think this is outside what we can achieve here, as hockdud says, this is an issue for OWM. Closing

[2018-11-25 11:14] #288 closed

[2018-11-25 11:18] robinpaulson commented on #287
Thanks for debugging the source of the problem @hugomg . I think this is related to a previous bug, #219 , but we appeared to have fixed the issue.... Hmm, I'm not sure. More testing perhaps.

[2018-11-25 11:20] robinpaulson commented on #284
Thanks for the offer, do you have anything particular you'd like to suggest, or are you merely asking speculatively?

[2018-11-25 11:29] robinpaulson commented on #276
Could you expand please? Do you mean so the links can be shared via intent to another app, e.g. browser/email?

[2018-11-25 11:31] robinpaulson commented on #272
Yep, worthwhile. Code and a pull request is the best way to get it done quickly, this is likely low priority.

[2018-11-25 11:31] twikedk commented on #257
Yes now it works as I would expect.

[2018-11-25 11:31] #257 closed

[2018-11-25 11:33] robinpaulson commented on #138
Closing, as this is mostly implemented.

[2018-11-25 11:33] #138 closed

[2018-11-25 11:34] robinpaulson commented on #267
Similar to #76

[2018-11-25 11:36] robinpaulson commented on #280
@twikedk Is this covered by #271 ?

[2018-11-25 11:39] robinpaulson commented on #274
This should be fixed by changing the webview to a text box, as suggested in #203

[2018-11-25 11:40] robinpaulson commented on #264
Definitely. Are you prepared to code it?

[2018-11-25 11:43] robinpaulson commented on #262
Hmm, interesting. Would you be prepared to look through the API docs and see how to ask for a city name in the selected locale? @igor-cali

[2018-11-25 11:46] robinpaulson commented on #292
We should probably use better error messages, this is misleading.

[2018-11-25 11:49] robinpaulson commented on #263
Low priority, but yes.

[2018-11-25 11:52] robinpaulson opened #295 "New screenshots for readme"
The screenshots in the readme are a bit out of date; is anyone prepared to make 3 shots we can use, from the latest version? You could upload them to imgur, then submit a PR for the updated readme with new links.

[2018-11-25 12:36] MisterY opened #296 "add snow graph"
Turns out that snow and rain graphs are separate and unrelated. It is getting significant to see both now that the Winter is here.

[2018-11-25 12:40] MisterY opened #297 "combine graphs"
Hope the existing graphs could be shown on one chart, to avoid scrolling and still see all the relevant information. If the indicators are selectable, even better (I.e. I want to see only the temperature and rain, etc.).

[2018-11-25 12:48] MisterY opened #298 "Open the weather map at the current location"
If there is a location selected, it would be expected to open the map there initially.

[2018-11-25 12:52] MisterY opened #299 "Pull to refresh"
I know it is a minor issue but by now I'm quite used to refreshing the data by pulling down. It's a convenience thing and a matter of current UI standards.

[2018-11-25 12:58] MisterY opened #300 "Quick access to graphs"
Tapping on the way weather icon could lead to the charts screen.

Even better, there would be a combined chart somewhere on the main screen as a card.

[2018-11-25 13:10] martykan commented on #176
Great

[2018-11-25 13:10] #176 closed

[2018-11-25 13:11] #133 closed

[2018-11-25 14:29] hugomg commented on #287
Git blame says that the offending line has been there for two years, before bug #219 was reported:  https://github.com/martykan/forecastie/commit/fc1fdadf614d3325b78148cd07107c6da7c505e8

One possibility is that the people who reported that bug though the problem was with the format specifiers and didn't realize that it was actually connected to the hyphen (which is a format restriction imposed by

[2018-11-25 15:09] DocSniper opened #301 "Windchill factor"
Windchill factor would be nice 😃

[2018-11-25 22:29] robinpaulson commented on #300
The first option should be relatively easy, only a line or two of code. The second would require some reworking of the existing code. Do you have the time, skills and inclination to contribute code, at least for the first part?

[2018-11-25 22:34] #267 closed

[2018-11-25 22:44] robinpaulson commented on #266
Ill take a guess: the author is based in Europe, a region which has less problematic naming than the US. There is likely only one "Cologne" or "Paris" or "Warsaw" in Europe, due to huge variations in dialect and language, meaning twns with the apparent same origin tend not to have the same spelling or even character set. Names in the US tend to be used over and over, always in English (although so

[2018-11-25 22:45] robinpaulson commented on #266
Help requested finding out how nominatin works in android apps. There is probably a library.

[2018-11-25 22:46] robinpaulson commented on #262
Perhaps this is fixed by using nominatim for reverse-geococing as in #266

[2018-11-25 22:48] robinpaulson commented on #259
Yep, again decent reverse-geocoding will fix this.

[2018-11-25 22:49] robinpaulson commented on #251
This is an excellent suggestion @andrei91ro . Are you prepared to look through the code and start this off? This is relatively high priority, currently the error messages are confusing at best.

[2018-11-25 22:53] robinpaulson commented on #301
Perhaps we have it as an option, if the user selects it, we put the windchill temperature in brackets after the non-windchill value? Or maybe there is a convention for displaying this information. Are yu prepared to look up the info, or even submit code and a pull request? I will certainly include if you can get it working. This has some very useful information, including formulae!

[https://en.wi

[2018-11-25 22:55] robinpaulson commented on #281
Or simply put the text somewhere we can view it (your website, blog,a pastebin, a comment here, etc.), then I will copy and paste it into the repository.

[2018-11-25 22:57] robinpaulson commented on #287
Got it. Are there any useful reasons for the hyphen? Could it be removed entirely do you think?

[2018-11-25 23:04] robinpaulson opened #302 "Add note about other developers"
Forecastie has a very long tail of contributors, lots have submitted pull requests and taken part in discussions on the issues page. We should acknowledge this in the "About" dialogue. I have added text which states the app was developed by martykan "and others", perhaps we should list the most prolific of those and/or provide a link to the "contributors" list on github. Suggestions and code edits

[2018-11-25 23:54] robinpaulson commented on #251
Marvellous, do let us know how that goes.

[2018-11-25 23:59] robinpaulson commented on #281
If this goes well, it might be worth adding a clickable link in the app which links to the file. Either in the "About" dialogue, or in the main menu.

[2018-11-26 00:01] robinpaulson commented on #268
This feels similar to a couple of other bugs, such as one concerning the data requiring an update after changing the units.

[2018-11-26 05:29] hugomg commented on #287
The ptoblem is not really the hyphen, but what forecastie is doing with it. Trying to parse or manipulate a date formate string is inherently bug prone.

Inside the app, forecastie shows dates including the time of day (since it displays one forecast for every 3 hour period). Meanwhile, on the widget, forecastie splits the time of day and date into two separate lines. If forecastie's widget just r

[2018-11-27 15:55] andrei91ro commented on #251
I received the following response from OpenWeatherMap. They said that these are the main error codes.

[code]

[2018-11-27 17:27] gappleto97 opened #303 "Graph screen lost a *lot* of contrast on dark themes"
When you go there, there is very little contrast between the background, the graph background, and the labels. If would be good if the graphs could have more contrast, since that would make it much easier to read.

[2018-11-27 17:31] gappleto97 commented on #227
This would actually be very useful. There have been a lot of fires in my area lately, and it would be good to know if the air is safe for me to go out.

[2018-11-28 02:31] robinpaulson commented on #303
Yes, this is correct, I noticed it too. Would you be willing to use an html colour-picker (the colours are defined using this method) to select an appropriate colour scheme, then report the codes here? Or make a pull request? Any decent image editor (GIMP, etc.) should have one included. Or use one of dozens on the web, e.g.:
https://www.w3schools.com/colors/colors_picker.asp
https://www.htmlcolor

[2018-11-28 02:32] robinpaulson commented on #296
Hmm, good point. Worth considering. Would you be able to look through the OWM API and maybe suggest a line of code or two? The existing code for rain graphs would probably be a good start, it should only need a line or two changing.

[2018-11-28 02:37] robinpaulson commented on #287
Interesting, thanks for that explanation hugomg. I think your suggestion has merit. Does anyone else have any suggestions for fixing it? I'll have a think, this should be a relatively simple fix once we settle on a method.

[2018-11-28 08:32] martykan commented on #296
I would combine the two, into a percipitation graph.

On Wed, Nov 28, 2018 at 3:32 AM robinpaulson <notifications@github.com>
wrote:

[2018-11-28 08:41] MisterY commented on #296
Here are some quick references to what the Open Weather API offers. The relevant documentation is [here](https://openweathermap.org/forecast5).

JSON results include rain and snow separately:

[code]

The XML results come as precipitation, with the type attribute: `<precipitation value="5%" unit="3h" type="rain"/>`, as per docs:

[code]

[2018-12-01 17:31] twikedk commented on #280
I would guess so but at least the PR from today should cover everything so far. I will close this one.

[2018-12-01 17:31] #280 closed

[2018-12-02 05:36] robinpaulson commented on #299
Is there a particular library/method which is commonly used to do this? Any examples from there may be useful.

[2018-12-02 08:00] robinpaulson commented on #296
As a first cut, we could copy-and-paste one of the other graphs, change the source and colour of the graph and we're away. Later on we think about combining (a separate sub-project I think) the charts into one. Maybe add a check box in the options to show the graph or not - there are enough places with no snow ever to make this worthwhile.

@MisterY as for having two apps doing the same thing, the

[2018-12-07 15:30] pard68 commented on #287
Looks like issue #272 may be relevant. appears Android has a builtin to assist with parsing a string and getting the date format from it

[2018-12-23 13:13] adriaaah opened #305 "Wrong link to the translator mailing list"
The link stated in the `README.md` (line 27) in regards to the translator mailing list redirects to https://us14.list-manage.com/subscribe?u=3c81998f247e20acb6af26673, which actually does not exist (it returns a 404).

[2018-12-25 09:38] carminemassarelli commented on #298
It seems to work properly now (tested with emulator and debug on adroid 7.1). Please reinstall app.

[2018-12-26 01:35] robinpaulson commented on #298
@MisterY is this fixed for you now?

[2018-12-26 01:42] robinpaulson commented on #287
@pard68 Would you be able to supply some more info on this, perhaps some code? Cheers

[2018-12-27 09:16] MisterY commented on #298
I only see v1.6.2 on F-Droid. And it opens the map in Saudi Arabia. So, no, not quite. :)

[2019-01-02 17:09] hugomg commented on #172
@brarcher Instead of doing the date math on our own (and needing to worry about leap years and so on) we should instead take advantage of the existing date and time libraries. Java's time and date libraries has various methods for adding increments of time to an existing date.

Regarding testing, a simpler approach might be to have the tests receive as input the json data instead of having them pe

[2019-01-07 16:01] carminemassarelli commented on #298
what version of android do you have @MisterY?
I could test with that

[2019-01-07 16:50] MisterY commented on #298
Hi, I tried on the phone with 7.1.1

[2019-01-08 14:34] robinpaulson commented on #244
I'm going to close this, it's been over a year now without any further, more detailed feedback. If more info is forthcoming, I will of course reopen.

[2019-01-08 14:34] #244 closed

[2019-01-08 14:42] robinpaulson commented on #180
Closing, I think this is out of scope for forecastie and is better provided by e.g suntimes, which i now use. A very good app.

[2019-01-08 14:42] #180 closed

[2019-01-15 10:44] ArchangeGabriel commented on #284
I bet it was just another utopian.io thing, or a graphics-school project.

However the current icon could be made [adaptative](https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive) without much effort I guess.

[2019-01-17 03:04] robinpaulson commented on #283
@ahyar92 Is the bug fixed with the latest release, v1.6.4?

[2019-01-17 03:05] robinpaulson commented on #275
Is the bug fixed with the latest release, 1.6.4?

[2019-01-17 03:06] robinpaulson commented on #283
This is a duplicate of #275. Closing

[2019-01-17 03:06] #283 closed

[2019-01-17 03:08] robinpaulson commented on #284
@ArchangeGabriel Maybe, maybe not. It's hard to tell without more info. I'll leave it open until May (one year), then close if no response.

[2019-01-17 03:12] robinpaulson commented on #274
Closing for now, I will reopen if fixing #203 does not also fix this.

[2019-01-17 03:12] #274 closed

[2019-01-17 03:14] robinpaulson commented on #208
@abika and @Nutomic Checking in because it's been a while: does this bug still exist?

[2019-01-17 11:37] Nutomic commented on #208
Nope, its still broken. Or rather, it looks like the widget was changed to 4x1, so it looks completely different from the original widget in my first screenshot. Maybe that could be readded as a seperate widget?

[2019-01-22 12:16] robinpaulson commented on #299
look out for v1.7 in a few days, it will implement this

[2019-01-22 12:16] #299 closed

[2019-01-22 13:24] savked commented on #302
Perhaps redirect to link: https://github.com/martykan/forecastie/graphs/contributors when clicked on others?

Would that be enough, or would you like to add in app list of people?

[2019-01-22 15:17] savked opened #311 "Main activity layout problem since new release"
Just tested v1.7 and views: Icon and "Last Update" are shifted to the left side.

[Screenshot](https://imgur.com/a/8eE4ZWH)

[2019-01-22 22:13] robinpaulson commented on #302
Yes, that's one option. The other is to list the top n developers in the about box of the app. I'm not sure where to put the cut off (top 5, top 10, top 20?), so maybe in the meantime we do as you suggest and possibly come back to it later.

[2019-01-22 23:51] #311 closed

[2019-01-23 00:02] robinpaulson commented on #302
Also, I don't want to privilege coders arbitrarily, there are plenty of people who have also submitted useful bug requests, made suggestions on the issues page, looked up API documentation and so on. Perhaps two links, one to the "contributors" page, one to the "issues" page?

[2019-01-23 11:47] savked commented on #275
Seems to be working properly now.

[2019-01-24 00:47] robinpaulson commented on #275
@calbee633810 How about for you, is it working OK now?

[2019-01-24 00:54] robinpaulson commented on #300
For the second part, let's first get all the graphs on one set of axes (#297). Once that's working nicely, then we will do it.

[2019-01-24 01:13] robinpaulson commented on #272
I'm going to mark this as a duplicate and close it; it's linked to another issue with more information/posts, so what you've posted won't get lost. Cheers for the info.

[2019-01-24 01:13] #272 closed

[2019-01-24 05:31] andrewmattie commented on #266
@robinpaulson Currently the app is getting the correct city through the user's lat long but then just does a search by city name leading to the inaccuracy. I believe this could be resolved by using the cityId for the query instead of city name.

[2019-01-24 06:33] robinpaulson commented on #284
I'd like to hear more about the adaptive design, would you be willing to do that?

[2019-01-25 01:34] andrewmattie commented on #266
Yeah, it is. I'm currently looking through the code now to see the best way to implement this and if it will fix the bug.

[2019-01-27 04:41] andrewmattie commented on #266
Ok, I've got the cityId changes implemented and it looks like everything works as it should and the bug is fixed. I'm just going to wait for the other PRs to be merged before creating a new one.

[2019-01-27 05:02] andrewmattie commented on #259
Would something like this work? https://imgur.com/a/qgeVeyO

[2019-01-27 13:40] troyengel commented on #259
I think that looks really cool! I would suggest adding the country as well - using the same example as above without the country ( https://openweathermap.org/find?q=san+antonio ) we get 5 different countries which appear in the results, seems like a good move to include? neat. :)

[2019-01-28 00:33] wesinator commented on #242
nvm, see #79

[2019-01-28 20:38] andrewmattie commented on #259
I'm glad you like it! Appending the country to the city is something I had meant to do so thanks for the reminder. I've gone a head and made the change. It makes it a lot easier to identify the city at a glance. https://imgur.com/a/GvivOgb

[2019-02-01 09:09] robinpaulson commented on #303
Cheers, @andrewmattie, new release in a few days

[2019-02-01 09:09] #303 closed

[2019-02-01 09:10] robinpaulson commented on #300
Marvellous, the new version will be out in a few days

[2019-02-01 09:10] #300 closed

[2019-02-01 09:14] robinpaulson commented on #259
This is really excellent, @andrewmattie . If you want to make a PR, I will be glad to add this to the app. Including the country would be good too.

[2019-02-01 09:15] robinpaulson commented on #266
Please do! @andrewmattie

[2019-02-01 21:14] robinpaulson commented on #266
Closing, as this appears to be a dupe of #183

[2019-02-01 21:14] #266 closed

[2019-02-01 21:15] robinpaulson commented on #259
Duplicate of #183